<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Series(data=[],-index=[])-creates-indexes-by-default-in-the-Data-structure" data-toc-modified-id="Series(data=[],-index=[])-creates-indexes-by-default-in-the-Data-structure-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Series(data=[], index=[]) creates indexes by default in the Data structure</a></span><ul class="toc-item"><li><span><a href="#Series-is-always-1D-data-structure-(one-dimentional)" data-toc-modified-id="Series-is-always-1D-data-structure-(one-dimentional)-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Series is always 1D data structure (one dimentional)</a></span></li><li><span><a href="#Creating-a-Series-from-Python-Objects-like-list,-tuple,-set-&amp;-dict" data-toc-modified-id="Creating-a-Series-from-Python-Objects-like-list,-tuple,-set-&amp;-dict-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Creating a Series from Python Objects like list, tuple, set &amp; dict</a></span></li><li><span><a href="#Index-and-Data-Lists" data-toc-modified-id="Index-and-Data-Lists-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Index and Data Lists</a></span></li><li><span><a href="#Creating-Series-From-a--Dictionary,-series(data={},-index={}.keys())" data-toc-modified-id="Creating-Series-From-a--Dictionary,-series(data={},-index={}.keys())-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Creating Series From a  Dictionary, series(data={}, index={}.keys())</a></span></li><li><span><a href="#indexing-of-series[-:-,-:-]-&amp;-naming-of-the-series-and-it's-index-using..-series.name-=-&quot;series_name&quot;-&amp;-series.index.name-=-&quot;index_name&quot;" data-toc-modified-id="indexing-of-series[-:-,-:-]-&amp;-naming-of-the-series-and-it's-index-using..-series.name-=-&quot;series_name&quot;-&amp;-series.index.name-=-&quot;index_name&quot;-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>indexing of series[ : , : ] &amp; naming of the series and it's index using.. series.name = "series_name" &amp; series.index.name = "index_name"</a></span></li><li><span><a href="#adding-preffix-&amp;-suffix-to-series-index,-series=series.add_prefix(&quot;before_&quot;)-&amp;-series=series.add_suffix(&quot;_after&quot;)" data-toc-modified-id="adding-preffix-&amp;-suffix-to-series-index,-series=series.add_prefix(&quot;before_&quot;)-&amp;-series=series.add_suffix(&quot;_after&quot;)-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>adding preffix &amp; suffix to series index, series=series.add_prefix("before_") &amp; series=series.add_suffix("_after")</a></span></li><li><span><a href="#series.iloc[-:-,-:-]-&amp;-series.loc[-:-,-:-]-for-default-indexing-&amp;-defined-indexing-&amp;-boolean-series.loc[[True,False,True]]" data-toc-modified-id="series.iloc[-:-,-:-]-&amp;-series.loc[-:-,-:-]-for-default-indexing-&amp;-defined-indexing-&amp;-boolean-series.loc[[True,False,True]]-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>series.iloc[ : , : ] &amp; series.loc[ : , : ] for default indexing &amp; defined indexing &amp; boolean series.loc[[True,False,True]]</a></span></li><li><span><a href="#Boolean-Masks-with-.loc[-]-&amp;-iloc[-]-indexer" data-toc-modified-id="Boolean-Masks-with-.loc[-]-&amp;-iloc[-]-indexer-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Boolean Masks with .loc[ ] &amp; iloc[ ] indexer</a></span></li><li><span><a href="#series-indexing-using-.iloc[-]-&amp;-.loc[-]-combining-with-lambda" data-toc-modified-id="series-indexing-using-.iloc[-]-&amp;-.loc[-]-combining-with-lambda-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>series indexing using .iloc[ ] &amp; .loc[ ] combining with lambda</a></span></li><li><span><a href="#seriesindexing-using-series.get()" data-toc-modified-id="seriesindexing-using-series.get()-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>seriesindexing using series.get()</a></span></li><li><span><a href="#Converting-1D-Array-into-Series,-only-1D-array-can-be-converted-into-series" data-toc-modified-id="Converting-1D-Array-into-Series,-only-1D-array-can-be-converted-into-series-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Converting 1D Array into Series, only 1D array can be converted into series</a></span></li></ul></li><li><span><a href="#Key-Ideas-of-a-Series" data-toc-modified-id="Key-Ideas-of-a-Series-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Key Ideas of a Series</a></span><ul class="toc-item"><li><span><a href="#Operations" data-toc-modified-id="Operations-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Operations</a></span></li><li><span><a href="#Dictionary-works-with-both-dict.keys()-&amp;-dict.values()-but-series-works-with-series.keys()-&amp;-series.values" data-toc-modified-id="Dictionary-works-with-both-dict.keys()-&amp;-dict.values()-but-series-works-with-series.keys()-&amp;-series.values-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Dictionary works with both dict.keys() &amp; dict.values() but series works with series.keys() &amp; series.values</a></span></li><li><span><a href="#Operations-Between-Series" data-toc-modified-id="Operations-Between-Series-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Operations Between Series</a></span></li></ul></li><li><span><a href="#DataFrames-has-both-row-indexes-&amp;-column-indexes" data-toc-modified-id="DataFrames-has-both-row-indexes-&amp;-column-indexes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DataFrames has both row indexes &amp; column indexes</a></span><ul class="toc-item"><li><span><a href="#DataFrame(data=[],-index=[],-columns=[])-and-DataFrame-only-works-with-2D-data-structure" data-toc-modified-id="DataFrame(data=[],-index=[],-columns=[])-and-DataFrame-only-works-with-2D-data-structure-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>DataFrame(data=[], index=[], columns=[]) and DataFrame only works with 2D data structure</a></span></li><li><span><a href="#Creating-a-DataFrame-from-Python-Objects" data-toc-modified-id="Creating-a-DataFrame-from-Python-Objects-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Creating a DataFrame from Python Objects</a></span></li><li><span><a href="#What-Is-A-DataFrame?" data-toc-modified-id="What-Is-A-DataFrame?-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>What Is A DataFrame?</a></span></li></ul></li><li><span><a href="#Reading-a-.csv-file-for-a-DataFrame" data-toc-modified-id="Reading-a-.csv-file-for-a-DataFrame-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Reading a .csv file for a DataFrame</a></span><ul class="toc-item"><li><span><a href="#NOTE:-We-will-go-over-all-kinds-of-data-inputs-and-outputs-(.html,-.csv,-.xlxs-,-etc...)-later-on-in-the-course!-For-now-we-just-need-to-read-in-a-simple-.csv-file." data-toc-modified-id="NOTE:-We-will-go-over-all-kinds-of-data-inputs-and-outputs-(.html,-.csv,-.xlxs-,-etc...)-later-on-in-the-course!-For-now-we-just-need-to-read-in-a-simple-.csv-file.-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>NOTE: We will go over all kinds of data inputs and outputs (.html, .csv, .xlxs , etc...) later on in the course! For now we just need to read in a simple .csv file.</a></span></li><li><span><a href="#CSV" data-toc-modified-id="CSV-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>CSV</a></span></li><li><span><a href="#Understanding-File-Paths" data-toc-modified-id="Understanding-File-Paths-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Understanding File Paths</a></span></li></ul></li><li><span><a href="#DataFrame-Axes" data-toc-modified-id="DataFrame-Axes-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>DataFrame Axes</a></span><ul class="toc-item"><li><span><a href="#3-Changing-DataFrame-index-dtype" data-toc-modified-id="3-Changing-DataFrame-index-dtype-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>3 Changing DataFrame index dtype</a></span></li><li><span><a href="#DataFrame-Extraction-By-Position" data-toc-modified-id="DataFrame-Extraction-By-Position-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>DataFrame Extraction By Position</a></span><ul class="toc-item"><li><span><a href="#boolean-indexing" data-toc-modified-id="boolean-indexing-5.2.1"><span class="toc-item-num">5.2.1&nbsp;&nbsp;</span>boolean indexing</a></span></li></ul></li><li><span><a href="#More-Cleanup:-Going-Numeric" data-toc-modified-id="More-Cleanup:-Going-Numeric-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>More Cleanup: Going Numeric</a></span></li><li><span><a href="#The-astype()-Method" data-toc-modified-id="The-astype()-Method-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>The astype() Method</a></span></li><li><span><a href="#DataFrame-replace()-+-A-Glimpse-At-Regex" data-toc-modified-id="DataFrame-replace()-+-A-Glimpse-At-Regex-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>DataFrame replace() + A Glimpse At Regex</a></span></li><li><span><a href="#Part-I:-Collecting-the-Units" data-toc-modified-id="Part-I:-Collecting-the-Units-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>Part I: Collecting the Units</a></span></li><li><span><a href="#The-rename()-Method" data-toc-modified-id="The-rename()-Method-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>The rename() Method</a></span></li><li><span><a href="#series.size,-series.shape,-len(series)" data-toc-modified-id="series.size,-series.shape,-len(series)-5.8"><span class="toc-item-num">5.8&nbsp;&nbsp;</span>series.size, series.shape, len(series)</a></span></li><li><span><a href="#Unique-Values-and-Series-Monotonicity-Direction" data-toc-modified-id="Unique-Values-and-Series-Monotonicity-Direction-5.9"><span class="toc-item-num">5.9&nbsp;&nbsp;</span>Unique Values and Series Monotonicity Direction</a></span></li><li><span><a href="#The-element-frequency-count()-Method-for-a-series" data-toc-modified-id="The-element-frequency-count()-Method-for-a-series-5.10"><span class="toc-item-num">5.10&nbsp;&nbsp;</span>The element frequency count() Method for a series</a></span></li><li><span><a href="#Accessing-And-Counting-NA's-using-series.isnull(-)-&amp;-series.isna(-)-&amp;-isnan(series)" data-toc-modified-id="Accessing-And-Counting-NA's-using-series.isnull(-)-&amp;-series.isna(-)-&amp;-isnan(series)-5.11"><span class="toc-item-num">5.11&nbsp;&nbsp;</span>Accessing And Counting NA's using series.isnull( ) &amp; series.isna( ) &amp; isnan(series)</a></span></li><li><span><a href="#The-Other-Side:-notnull(-)-And-notna(-)" data-toc-modified-id="The-Other-Side:-notnull(-)-And-notna(-)-5.12"><span class="toc-item-num">5.12&nbsp;&nbsp;</span>The Other Side: notnull( ) And notna( )</a></span></li><li><span><a href="#BONUS:-Booleans-Are-Literally-Numbers-In-Python" data-toc-modified-id="BONUS:-Booleans-Are-Literally-Numbers-In-Python-5.13"><span class="toc-item-num">5.13&nbsp;&nbsp;</span>BONUS: Booleans Are Literally Numbers In Python</a></span></li><li><span><a href="#Dropping-And-Filling-NAs-using-series.dropna(-)-&amp;-series.fillna(-)" data-toc-modified-id="Dropping-And-Filling-NAs-using-series.dropna(-)-&amp;-series.fillna(-)-5.14"><span class="toc-item-num">5.14&nbsp;&nbsp;</span>Dropping And Filling NAs using series.dropna( ) &amp; series.fillna( )</a></span></li><li><span><a href="#Descriptive-Statistics" data-toc-modified-id="Descriptive-Statistics-5.15"><span class="toc-item-num">5.15&nbsp;&nbsp;</span>Descriptive Statistics</a></span></li><li><span><a href="#idxmax()-And-idxmin()" data-toc-modified-id="idxmax()-And-idxmin()-5.16"><span class="toc-item-num">5.16&nbsp;&nbsp;</span>idxmax() And idxmin()</a></span></li><li><span><a href="#Sorting-With-sort_values()" data-toc-modified-id="Sorting-With-sort_values()-5.17"><span class="toc-item-num">5.17&nbsp;&nbsp;</span>Sorting With sort_values()</a></span></li><li><span><a href="#Series-Arithmetics-And-fill_value(-)-,-adding-new-indexes-&amp;-values-to-a-series-using-series1.add(series2,-fill_value=0)" data-toc-modified-id="Series-Arithmetics-And-fill_value(-)-,-adding-new-indexes-&amp;-values-to-a-series-using-series1.add(series2,-fill_value=0)-5.18"><span class="toc-item-num">5.18&nbsp;&nbsp;</span>Series Arithmetics And fill_value( ) , adding new indexes &amp; values to a series using series1.add(series2, fill_value=0)</a></span></li><li><span><a href="#BONUS:-Calculating-Variance-And-Standard-Deviation" data-toc-modified-id="BONUS:-Calculating-Variance-And-Standard-Deviation-5.19"><span class="toc-item-num">5.19&nbsp;&nbsp;</span>BONUS: Calculating Variance And Standard Deviation</a></span></li><li><span><a href="#Cumulative-Operations" data-toc-modified-id="Cumulative-Operations-5.20"><span class="toc-item-num">5.20&nbsp;&nbsp;</span>Cumulative Operations</a></span></li><li><span><a href="#Pairwise-Differences-With-diff()" data-toc-modified-id="Pairwise-Differences-With-diff()-5.21"><span class="toc-item-num">5.21&nbsp;&nbsp;</span>Pairwise Differences With diff()</a></span></li><li><span><a href="#Series-Iteration-is-like-Dictionary-iteration,-we-will-use-Series.items(-),-Series.iteritems(-),-Dict.items(-)" data-toc-modified-id="Series-Iteration-is-like-Dictionary-iteration,-we-will-use-Series.items(-),-Series.iteritems(-),-Dict.items(-)-5.22"><span class="toc-item-num">5.22&nbsp;&nbsp;</span>Series Iteration is like Dictionary iteration, we will use Series.items( ), Series.iteritems( ), Dict.items( )</a></span></li><li><span><a href="#Filtering:-Series.filter(-),-Series.where(-),-And-Series.mask(-)-for-labelled-indexes" data-toc-modified-id="Filtering:-Series.filter(-),-Series.where(-),-And-Series.mask(-)-for-labelled-indexes-5.23"><span class="toc-item-num">5.23&nbsp;&nbsp;</span>Filtering: Series.filter( ), Series.where( ), And Series.mask( ) for labelled indexes</a></span></li><li><span><a href="#the-where()-method" data-toc-modified-id="the-where()-method-5.24"><span class="toc-item-num">5.24&nbsp;&nbsp;</span>the where() method</a></span></li><li><span><a href="#the-mask()-method" data-toc-modified-id="the-mask()-method-5.25"><span class="toc-item-num">5.25&nbsp;&nbsp;</span>the mask() method</a></span></li><li><span><a href="#Transforming-With-Series1.update(Series2),-Series.apply()-And-Series.map()" data-toc-modified-id="Transforming-With-Series1.update(Series2),-Series.apply()-And-Series.map()-5.26"><span class="toc-item-num">5.26&nbsp;&nbsp;</span>Transforming With Series1.update(Series2), Series.apply() And Series.map()</a></span></li></ul></li><li><span><a href="#DataFrames(data=[],-index=[],-columns=[])" data-toc-modified-id="DataFrames(data=[],-index=[],-columns=[])-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>DataFrames(data=[], index=[], columns=[])</a></span><ul class="toc-item"><li><span><a href="#Obtaining-Basic-Information-About-DataFrame" data-toc-modified-id="Obtaining-Basic-Information-About-DataFrame-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Obtaining Basic Information About DataFrame</a></span></li><li><span><a href="#Selection-and-Indexing" data-toc-modified-id="Selection-and-Indexing-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Selection and Indexing</a></span></li><li><span><a href="#COLUMNS" data-toc-modified-id="COLUMNS-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>COLUMNS</a></span></li><li><span><a href="#Grab-a-Single-Column" data-toc-modified-id="Grab-a-Single-Column-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Grab a Single Column</a></span></li><li><span><a href="#Grab-Multiple-Columns-using-columns-list-[-]" data-toc-modified-id="Grab-Multiple-Columns-using-columns-list-[-]-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span>Grab Multiple Columns using columns list [ ]</a></span></li><li><span><a href="#Create-New-Columns" data-toc-modified-id="Create-New-Columns-6.6"><span class="toc-item-num">6.6&nbsp;&nbsp;</span>Create New Columns</a></span></li><li><span><a href="#Adjust-Existing-Columns-by-rounding-off-decimals-round()" data-toc-modified-id="Adjust-Existing-Columns-by-rounding-off-decimals-round()-6.7"><span class="toc-item-num">6.7&nbsp;&nbsp;</span>Adjust Existing Columns by rounding off decimals round()</a></span></li><li><span><a href="#Remove-Columns" data-toc-modified-id="Remove-Columns-6.8"><span class="toc-item-num">6.8&nbsp;&nbsp;</span>Remove Columns</a></span></li></ul></li><li><span><a href="#Row-&amp;-Column-Indexes-of-a-DataFrame" data-toc-modified-id="Row-&amp;-Column-Indexes-of-a-DataFrame-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Row &amp; Column Indexes of a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Grab-a-Single-Row-from-the-DataFrame" data-toc-modified-id="Grab-a-Single-Row-from-the-DataFrame-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Grab a Single Row from the DataFrame</a></span></li><li><span><a href="#Grab-Multiple-Rows-using-row-index-list-[-]" data-toc-modified-id="Grab-Multiple-Rows-using-row-index-list-[-]-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Grab Multiple Rows using row index list [ ]</a></span></li><li><span><a href="#Drop-Single-Row-&amp;-Multiple-Row-using-either-default-Row-index-or-user-defined-Row-index" data-toc-modified-id="Drop-Single-Row-&amp;-Multiple-Row-using-either-default-Row-index-or-user-defined-Row-index-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Drop Single Row &amp; Multiple Row using either default Row index or user defined Row index</a></span></li></ul></li><li><span><a href="#Conditional-Filtering-for-DataFrame" data-toc-modified-id="Conditional-Filtering-for-DataFrame-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Conditional Filtering for DataFrame</a></span><ul class="toc-item"><li><span><a href="#Conditions" data-toc-modified-id="Conditions-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Conditions</a></span></li><li><span><a href="#Multiple-Conditions" data-toc-modified-id="Multiple-Conditions-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Multiple Conditions</a></span></li><li><span><a href="#Filtering-using-Conditional-Operator-isin()" data-toc-modified-id="Filtering-using-Conditional-Operator-isin()-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Filtering using Conditional Operator isin()</a></span></li></ul></li><li><span><a href="#Useful-Methods" data-toc-modified-id="Useful-Methods-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Useful Methods</a></span><ul class="toc-item"><li><span><a href="#The-.apply()-method" data-toc-modified-id="The-.apply()-method-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>The .apply() method</a></span></li><li><span><a href="#apply-with-a-function" data-toc-modified-id="apply-with-a-function-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>apply with a function</a></span></li><li><span><a href="#Using-.apply()-with-more-complex-functions" data-toc-modified-id="Using-.apply()-with-more-complex-functions-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span>Using .apply() with more complex functions</a></span></li><li><span><a href="#apply-with-lambda-function" data-toc-modified-id="apply-with-lambda-function-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span>apply with lambda function</a></span></li><li><span><a href="#apply-that-uses-multiple-columns-for-filtering" data-toc-modified-id="apply-that-uses-multiple-columns-for-filtering-9.5"><span class="toc-item-num">9.5&nbsp;&nbsp;</span>apply that uses multiple columns for filtering</a></span><ul class="toc-item"><li><span><a href="#DataFrame.describe()-for-statistical-summaries" data-toc-modified-id="DataFrame.describe()-for-statistical-summaries-9.5.1"><span class="toc-item-num">9.5.1&nbsp;&nbsp;</span>DataFrame.describe() for statistical summaries</a></span></li><li><span><a href="#DataFrame.sort_values(&quot;Column&quot;)" data-toc-modified-id="DataFrame.sort_values(&quot;Column&quot;)-9.5.2"><span class="toc-item-num">9.5.2&nbsp;&nbsp;</span>DataFrame.sort_values("Column")</a></span></li><li><span><a href="#idxmin-and-idxmax" data-toc-modified-id="idxmin-and-idxmax-9.5.3"><span class="toc-item-num">9.5.3&nbsp;&nbsp;</span>idxmin and idxmax</a></span></li></ul></li><li><span><a href="#df.corr(-)-for-correlation-checks" data-toc-modified-id="df.corr(-)-for-correlation-checks-9.6"><span class="toc-item-num">9.6&nbsp;&nbsp;</span>df.corr( ) for correlation checks</a></span><ul class="toc-item"><li><span><a href="#DataFrame[&quot;Column&quot;].value_counts()-or-frequency-count" data-toc-modified-id="DataFrame[&quot;Column&quot;].value_counts()-or-frequency-count-9.6.1"><span class="toc-item-num">9.6.1&nbsp;&nbsp;</span>DataFrame["Column"].value_counts() or frequency count</a></span></li><li><span><a href="#unique" data-toc-modified-id="unique-9.6.2"><span class="toc-item-num">9.6.2&nbsp;&nbsp;</span>unique</a></span></li><li><span><a href="#.replace(-to_replace=val1,-value=val2)" data-toc-modified-id=".replace(-to_replace=val1,-value=val2)-9.6.3"><span class="toc-item-num">9.6.3&nbsp;&nbsp;</span>.replace( to_replace=val1, value=val2)</a></span></li><li><span><a href="#.map(-)" data-toc-modified-id=".map(-)-9.6.4"><span class="toc-item-num">9.6.4&nbsp;&nbsp;</span>.map( )</a></span></li></ul></li><li><span><a href="#Duplicates" data-toc-modified-id="Duplicates-9.7"><span class="toc-item-num">9.7&nbsp;&nbsp;</span>Duplicates</a></span><ul class="toc-item"><li><span><a href="#.duplicated(-)-and-.drop_duplicates(-)" data-toc-modified-id=".duplicated(-)-and-.drop_duplicates(-)-9.7.1"><span class="toc-item-num">9.7.1&nbsp;&nbsp;</span>.duplicated( ) and .drop_duplicates( )</a></span></li></ul></li><li><span><a href="#.between(-)" data-toc-modified-id=".between(-)-9.8"><span class="toc-item-num">9.8&nbsp;&nbsp;</span>.between( )</a></span></li><li><span><a href="#.sample()" data-toc-modified-id=".sample()-9.9"><span class="toc-item-num">9.9&nbsp;&nbsp;</span>.sample()</a></span></li><li><span><a href="#nlargest-and-nsmallest" data-toc-modified-id="nlargest-and-nsmallest-9.10"><span class="toc-item-num">9.10&nbsp;&nbsp;</span>nlargest and nsmallest</a></span></li></ul></li><li><span><a href="#Missing-Data-(Keep,-Replace-or-Drop)" data-toc-modified-id="Missing-Data-(Keep,-Replace-or-Drop)-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Missing Data (Keep, Replace or Drop)</a></span><ul class="toc-item"><li><span><a href="#What-Null/NA/nan-objects-look-like:" data-toc-modified-id="What-Null/NA/nan-objects-look-like:-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>What Null/NA/nan objects look like:</a></span></li><li><span><a href="#Note!-Typical-comparisons-should-be-avoided-with-Missing-Values" data-toc-modified-id="Note!-Typical-comparisons-should-be-avoided-with-Missing-Values-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>Note! Typical comparisons should be avoided with Missing Values</a></span></li><li><span><a href="#Data" data-toc-modified-id="Data-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span>Data</a></span></li><li><span><a href="#Checking-and-Selecting-for-Null-Values" data-toc-modified-id="Checking-and-Selecting-for-Null-Values-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span>Checking and Selecting for Null Values</a></span></li><li><span><a href="#Drop-Data" data-toc-modified-id="Drop-Data-10.5"><span class="toc-item-num">10.5&nbsp;&nbsp;</span>Drop Data</a></span></li><li><span><a href="#Fill-Data" data-toc-modified-id="Fill-Data-10.6"><span class="toc-item-num">10.6&nbsp;&nbsp;</span>Fill Data</a></span></li><li><span><a href="#Filling-with-Interpolation" data-toc-modified-id="Filling-with-Interpolation-10.7"><span class="toc-item-num">10.7&nbsp;&nbsp;</span>Filling with Interpolation</a></span></li></ul></li><li><span><a href="#Groupby-Operations-and-Multi-level-Index-in-Pandas-DataFrame" data-toc-modified-id="Groupby-Operations-and-Multi-level-Index-in-Pandas-DataFrame-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Groupby Operations and Multi-level Index in Pandas DataFrame</a></span><ul class="toc-item"><li><span><a href="#groupby()-method" data-toc-modified-id="groupby()-method-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>groupby() method</a></span></li><li><span><a href="#Groupby-Multiple-Columns" data-toc-modified-id="Groupby-Multiple-Columns-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span>Groupby Multiple Columns</a></span></li></ul></li><li><span><a href="#MultiIndex-(-multi-index-created-by-groupby()-function-)" data-toc-modified-id="MultiIndex-(-multi-index-created-by-groupby()-function-)-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>MultiIndex ( multi index created by groupby() function )</a></span><ul class="toc-item"><li><span><a href="#The-MultiIndex-Object,-Outer-groupby()-index-&amp;-inner-groupby()-index" data-toc-modified-id="The-MultiIndex-Object,-Outer-groupby()-index-&amp;-inner-groupby()-index-12.1"><span class="toc-item-num">12.1&nbsp;&nbsp;</span>The MultiIndex Object, Outer groupby() index &amp; inner groupby() index</a></span></li></ul></li><li><span><a href="#Indexing-with-the-Hierarchical-Index" data-toc-modified-id="Indexing-with-the-Hierarchical-Index-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Indexing with the Hierarchical Index</a></span><ul class="toc-item"><li><span><a href="#Grab-Based-on-Most-Outside-iloc[-]-index" data-toc-modified-id="Grab-Based-on-Most-Outside-iloc[-]-index-13.1"><span class="toc-item-num">13.1&nbsp;&nbsp;</span>Grab Based on Most Outside iloc[ ] index</a></span></li><li><span><a href="#Grab,-Based-on-groupby-created-Outer-index" data-toc-modified-id="Grab,-Based-on-groupby-created-Outer-index-13.2"><span class="toc-item-num">13.2&nbsp;&nbsp;</span>Grab, Based on groupby created Outer index</a></span></li><li><span><a href="#Grab-a-Single-Row-by-combining-groupby-created-Outer-&amp;-inner-index" data-toc-modified-id="Grab-a-Single-Row-by-combining-groupby-created-Outer-&amp;-inner-index-13.3"><span class="toc-item-num">13.3&nbsp;&nbsp;</span>Grab a Single Row by combining groupby created Outer &amp; inner index</a></span></li></ul></li><li><span><a href="#Grab-Based-on-Cross-section-with-.xs()" data-toc-modified-id="Grab-Based-on-Cross-section-with-.xs()-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Grab Based on Cross-section with .xs()</a></span><ul class="toc-item"><li><span><a href="#Parameters" data-toc-modified-id="Parameters-14.1"><span class="toc-item-num">14.1&nbsp;&nbsp;</span>Parameters</a></span></li><li><span><a href="#Careful-note!" data-toc-modified-id="Careful-note!-14.2"><span class="toc-item-num">14.2&nbsp;&nbsp;</span>Careful note!</a></span></li><li><span><a href="#Swap-Levels" data-toc-modified-id="Swap-Levels-14.3"><span class="toc-item-num">14.3&nbsp;&nbsp;</span>Swap Levels</a></span></li><li><span><a href="#Sorting-MultiIndex" data-toc-modified-id="Sorting-MultiIndex-14.4"><span class="toc-item-num">14.4&nbsp;&nbsp;</span>Sorting MultiIndex</a></span></li></ul></li><li><span><a href="#Advanced:-agg()-method" data-toc-modified-id="Advanced:-agg()-method-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Advanced: agg() method</a></span><ul class="toc-item"><li><span><a href="#Specify-aggregate-methods-per-column" data-toc-modified-id="Specify-aggregate-methods-per-column-15.1"><span class="toc-item-num">15.1&nbsp;&nbsp;</span>Specify aggregate methods per column</a></span></li><li><span><a href="#agg()-with-groupby()" data-toc-modified-id="agg()-with-groupby()-15.2"><span class="toc-item-num">15.2&nbsp;&nbsp;</span>agg() with groupby()</a></span></li></ul></li><li><span><a href="#Combining-DataFrames" data-toc-modified-id="Combining-DataFrames-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Combining DataFrames</a></span><ul class="toc-item"><li><span><a href="#Full-Official-Guide-(Lots-of-examples!)" data-toc-modified-id="Full-Official-Guide-(Lots-of-examples!)-16.1"><span class="toc-item-num">16.1&nbsp;&nbsp;</span>Full Official Guide (Lots of examples!)</a></span><ul class="toc-item"><li><span><a href="#https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html" data-toc-modified-id="https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html-16.1.1"><span class="toc-item-num">16.1.1&nbsp;&nbsp;</span><a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html" rel="nofollow" target="_blank">https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html</a></a></span></li></ul></li><li><span><a href="#Concatenation" data-toc-modified-id="Concatenation-16.2"><span class="toc-item-num">16.2&nbsp;&nbsp;</span>Concatenation</a></span></li><li><span><a href="#Axis-=-1" data-toc-modified-id="Axis-=-1-16.3"><span class="toc-item-num">16.3&nbsp;&nbsp;</span>Axis = 1</a></span><ul class="toc-item"><li><span><a href="#Concatenate-along-columns" data-toc-modified-id="Concatenate-along-columns-16.3.1"><span class="toc-item-num">16.3.1&nbsp;&nbsp;</span>Concatenate along columns</a></span></li></ul></li><li><span><a href="#Axis-=-0" data-toc-modified-id="Axis-=-0-16.4"><span class="toc-item-num">16.4&nbsp;&nbsp;</span>Axis = 0</a></span><ul class="toc-item"><li><span><a href="#Concatenate-along-rows" data-toc-modified-id="Concatenate-along-rows-16.4.1"><span class="toc-item-num">16.4.1&nbsp;&nbsp;</span>Concatenate along rows</a></span></li></ul></li></ul></li><li><span><a href="#Merge-(When-DataFrames-have-different-shapes)" data-toc-modified-id="Merge-(When-DataFrames-have-different-shapes)-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>Merge (When DataFrames have different shapes)</a></span><ul class="toc-item"><li><span><a href="#Data-Tables" data-toc-modified-id="Data-Tables-17.1"><span class="toc-item-num">17.1&nbsp;&nbsp;</span>Data Tables</a></span></li></ul></li><li><span><a href="#pd.merge()" data-toc-modified-id="pd.merge()-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>pd.merge()</a></span></li><li><span><a href="#Inner,Left,-Right,-and-Outer-Joins" data-toc-modified-id="Inner,Left,-Right,-and-Outer-Joins-19"><span class="toc-item-num">19&nbsp;&nbsp;</span>Inner,Left, Right, and Outer Joins</a></span><ul class="toc-item"><li><span><a href="#Inner-Join" data-toc-modified-id="Inner-Join-19.1"><span class="toc-item-num">19.1&nbsp;&nbsp;</span>Inner Join</a></span></li><li><span><a href="#Left-Join" data-toc-modified-id="Left-Join-19.2"><span class="toc-item-num">19.2&nbsp;&nbsp;</span>Left Join</a></span></li><li><span><a href="#Right-Join" data-toc-modified-id="Right-Join-19.3"><span class="toc-item-num">19.3&nbsp;&nbsp;</span>Right Join</a></span></li><li><span><a href="#Outer-Join" data-toc-modified-id="Outer-Join-19.4"><span class="toc-item-num">19.4&nbsp;&nbsp;</span>Outer Join</a></span></li><li><span><a href="#Join-on-Index-or-Column" data-toc-modified-id="Join-on-Index-or-Column-19.5"><span class="toc-item-num">19.5&nbsp;&nbsp;</span>Join on Index or Column</a></span><ul class="toc-item"><li><span><a href="#Dealing-with-differing-key-column-names-in-joined-tables" data-toc-modified-id="Dealing-with-differing-key-column-names-in-joined-tables-19.5.1"><span class="toc-item-num">19.5.1&nbsp;&nbsp;</span>Dealing with differing key column names in joined tables</a></span></li><li><span><a href="#Pandas-automatically-tags-duplicate-columns" data-toc-modified-id="Pandas-automatically-tags-duplicate-columns-19.5.2"><span class="toc-item-num">19.5.2&nbsp;&nbsp;</span>Pandas automatically tags duplicate columns</a></span></li></ul></li></ul></li><li><span><a href="#Text-Methods" data-toc-modified-id="Text-Methods-20"><span class="toc-item-num">20&nbsp;&nbsp;</span>Text Methods</a></span></li><li><span><a href="#Pandas-and-Text" data-toc-modified-id="Pandas-and-Text-21"><span class="toc-item-num">21&nbsp;&nbsp;</span>Pandas and Text</a></span><ul class="toc-item"><li><span><a href="#Text-Methods-on-Pandas-String-Column" data-toc-modified-id="Text-Methods-on-Pandas-String-Column-21.1"><span class="toc-item-num">21.1&nbsp;&nbsp;</span>Text Methods on Pandas String Column</a></span></li><li><span><a href="#Splitting-,-Grabbing,-and-Expanding" data-toc-modified-id="Splitting-,-Grabbing,-and-Expanding-21.2"><span class="toc-item-num">21.2&nbsp;&nbsp;</span>Splitting , Grabbing, and Expanding</a></span></li><li><span><a href="#Cleaning-or-Editing-Strings" data-toc-modified-id="Cleaning-or-Editing-Strings-21.3"><span class="toc-item-num">21.3&nbsp;&nbsp;</span>Cleaning or Editing Strings</a></span></li><li><span><a href="#Alternative-with-Custom-apply()-call" data-toc-modified-id="Alternative-with-Custom-apply()-call-21.4"><span class="toc-item-num">21.4&nbsp;&nbsp;</span>Alternative with Custom apply() call</a></span></li><li><span><a href="#Which-one-is-more-efficient?" data-toc-modified-id="Which-one-is-more-efficient?-21.5"><span class="toc-item-num">21.5&nbsp;&nbsp;</span>Which one is more efficient?</a></span></li></ul></li><li><span><a href="#Time-Methods" data-toc-modified-id="Time-Methods-22"><span class="toc-item-num">22&nbsp;&nbsp;</span>Time Methods</a></span><ul class="toc-item"><li><span><a href="#Python-Datetime-Review" data-toc-modified-id="Python-Datetime-Review-22.1"><span class="toc-item-num">22.1&nbsp;&nbsp;</span>Python Datetime Review</a></span></li></ul></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-23"><span class="toc-item-num">23&nbsp;&nbsp;</span>Pandas</a></span></li><li><span><a href="#Converting-to-datetime" data-toc-modified-id="Converting-to-datetime-24"><span class="toc-item-num">24&nbsp;&nbsp;</span>Converting to datetime</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#pd.to_datetime()" data-toc-modified-id="pd.to_datetime()-24.0.1"><span class="toc-item-num">24.0.1&nbsp;&nbsp;</span>pd.to_datetime()</a></span></li></ul></li><li><span><a href="#Custom-Time-String-Formatting" data-toc-modified-id="Custom-Time-String-Formatting-24.1"><span class="toc-item-num">24.1&nbsp;&nbsp;</span>Custom Time String Formatting</a></span></li><li><span><a href="#Data" data-toc-modified-id="Data-24.2"><span class="toc-item-num">24.2&nbsp;&nbsp;</span>Data</a></span></li><li><span><a href="#Attempt-to-Parse-Dates-Automatically" data-toc-modified-id="Attempt-to-Parse-Dates-Automatically-24.3"><span class="toc-item-num">24.3&nbsp;&nbsp;</span>Attempt to Parse Dates Automatically</a></span></li><li><span><a href="#Resample" data-toc-modified-id="Resample-24.4"><span class="toc-item-num">24.4&nbsp;&nbsp;</span>Resample</a></span></li></ul></li><li><span><a href="#.dt-Method-Calls" data-toc-modified-id=".dt-Method-Calls-25"><span class="toc-item-num">25&nbsp;&nbsp;</span>.dt Method Calls</a></span></li><li><span><a href="#Inputs-and-Outputs" data-toc-modified-id="Inputs-and-Outputs-26"><span class="toc-item-num">26&nbsp;&nbsp;</span>Inputs and Outputs</a></span><ul class="toc-item"><li><span><a href="#Data-Input-and-Output" data-toc-modified-id="Data-Input-and-Output-26.1"><span class="toc-item-num">26.1&nbsp;&nbsp;</span>Data Input and Output</a></span></li><li><span><a href="#Check-out-the-references-here!" data-toc-modified-id="Check-out-the-references-here!-26.2"><span class="toc-item-num">26.2&nbsp;&nbsp;</span>Check out the references here!</a></span></li></ul></li><li><span><a href="#Reading-in-a--CSV" data-toc-modified-id="Reading-in-a--CSV-27"><span class="toc-item-num">27&nbsp;&nbsp;</span>Reading in a  CSV</a></span><ul class="toc-item"><li><span><a href="#Understanding-File-Paths" data-toc-modified-id="Understanding-File-Paths-27.1"><span class="toc-item-num">27.1&nbsp;&nbsp;</span>Understanding File Paths</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Print-your-current-directory-file-path-with-pwd" data-toc-modified-id="Print-your-current-directory-file-path-with-pwd-27.1.0.1"><span class="toc-item-num">27.1.0.1&nbsp;&nbsp;</span>Print your current directory file path with pwd</a></span></li><li><span><a href="#List-the-files-in-your-current-directory-with-ls" data-toc-modified-id="List-the-files-in-your-current-directory-with-ls-27.1.0.2"><span class="toc-item-num">27.1.0.2&nbsp;&nbsp;</span>List the files in your current directory with ls</a></span></li><li><span><a href="#NOTE!-Common-confusion-point!-Take-note-that-all-read-input-methods-are-called-directly-from-pandas-with-pd.read_--,-all-output-methods-are-called-directly-off-the-dataframe-with-df.to_" data-toc-modified-id="NOTE!-Common-confusion-point!-Take-note-that-all-read-input-methods-are-called-directly-from-pandas-with-pd.read_--,-all-output-methods-are-called-directly-off-the-dataframe-with-df.to_-27.1.0.3"><span class="toc-item-num">27.1.0.3&nbsp;&nbsp;</span>NOTE! Common confusion point! Take note that all read input methods are called directly from pandas with pd.read_  , all output methods are called directly off the dataframe with df.to_</a></span></li></ul></li><li><span><a href="#CSV-Input" data-toc-modified-id="CSV-Input-27.1.1"><span class="toc-item-num">27.1.1&nbsp;&nbsp;</span>CSV Input</a></span></li><li><span><a href="#CSV-Output" data-toc-modified-id="CSV-Output-27.1.2"><span class="toc-item-num">27.1.2&nbsp;&nbsp;</span>CSV Output</a></span></li></ul></li><li><span><a href="#HTML" data-toc-modified-id="HTML-27.2"><span class="toc-item-num">27.2&nbsp;&nbsp;</span>HTML</a></span></li><li><span><a href="#read_html" data-toc-modified-id="read_html-27.3"><span class="toc-item-num">27.3&nbsp;&nbsp;</span>read_html</a></span><ul class="toc-item"><li><span><a href="#HTML-Input" data-toc-modified-id="HTML-Input-27.3.1"><span class="toc-item-num">27.3.1&nbsp;&nbsp;</span>HTML Input</a></span></li><li><span><a href="#Not-Useful-Tables" data-toc-modified-id="Not-Useful-Tables-27.3.2"><span class="toc-item-num">27.3.2&nbsp;&nbsp;</span>Not Useful Tables</a></span></li></ul></li></ul></li><li><span><a href="#Pivot-Tables" data-toc-modified-id="Pivot-Tables-28"><span class="toc-item-num">28&nbsp;&nbsp;</span>Pivot Tables</a></span><ul class="toc-item"><li><span><a href="#Data" data-toc-modified-id="Data-28.1"><span class="toc-item-num">28.1&nbsp;&nbsp;</span>Data</a></span></li></ul></li><li><span><a href="#The-pivot()-method" data-toc-modified-id="The-pivot()-method-29"><span class="toc-item-num">29&nbsp;&nbsp;</span>The pivot() method</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Note:-Common-Point-of-Confusion:-Students-often-just-randomly-pass-in-index,column,-and-value-choices-in-an-attempt-to-see-the-changes.-This-often-just-leads-to-formatting-errors.-You-should-first-go-through-this-checklist-BEFORE-running-a-pivot():" data-toc-modified-id="Note:-Common-Point-of-Confusion:-Students-often-just-randomly-pass-in-index,column,-and-value-choices-in-an-attempt-to-see-the-changes.-This-often-just-leads-to-formatting-errors.-You-should-first-go-through-this-checklist-BEFORE-running-a-pivot():-29.0.0.1"><span class="toc-item-num">29.0.0.1&nbsp;&nbsp;</span>Note: Common Point of Confusion: Students often just randomly pass in index,column, and value choices in an attempt to see the changes. This often just leads to formatting errors. You should first go through this checklist BEFORE running a pivot():</a></span></li></ul></li></ul></li><li><span><a href="#The-pivot_table()-method" data-toc-modified-id="The-pivot_table()-method-29.1"><span class="toc-item-num">29.1&nbsp;&nbsp;</span>The pivot_table() method</a></span></li></ul></li></ul></div>

# Series(data=[], index=[]) creates indexes by default in the Data structure
## Series is always 1D data structure (one dimentional)

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

## Creating a Series from Python Objects like list, tuple, set & dict

## Index and Data Lists

* We can create a Series from Python lists (also from NumPy arrays)
* series.count()
* len(series)
* size(series)

In [2]:
from pandas import Series as series
from pandas import DataFrame, read_csv
from numpy import array, dtype, ndim, shape, size, arange, zeros, ones, linspace, eye, identity, random

In [3]:
Num = [0, 1, 2, 3, 4, 5]
series(data=Num) # Converting 1D list into 1D series

print(series(data=Num))
print(series(data=Num).dtype)
print(type(series(data=Num)))
print(ndim(series(data=Num)))
print(size(series(data=Num)))
print(series(data=Num).count())
print(len(series(data=Num)))
print(shape(series(data=Num)))

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64
int64
<class 'pandas.core.series.Series'>
1
6
6
6
(6,)

In [4]:
Country = ["India", "France", "China", "Nepal", "America", "Bhutan"]
Lang = ["hindi", "french", "chinese", "nepali", "english", "utang"]
NewSeries = series(data=Lang, index=Country) # creating 1D series by using the lists Country & Lang.
                                             # Makung Country as labelled index
print(NewSeries)
print(type(NewSeries))
print(ndim(NewSeries))
print(size(NewSeries))
print(len(NewSeries))
print(NewSeries.count())
print(shape(NewSeries))

India        hindi
France      french
China      chinese
Nepal       nepali
America    english
Bhutan       utang
dtype: object
<class 'pandas.core.series.Series'>
1
6
6
6
(6,)

In [5]:
# showing labelled indexes
NewSeries.index

Index(['India', 'France', 'China', 'Nepal', 'America', 'Bhutan'], dtype='object')

In [6]:
# shows keys as labelled indexes
NewSeries.keys()

Index(['India', 'France', 'China', 'Nepal', 'America', 'Bhutan'], dtype='object')

In [7]:
NewSeries.values # element values of the series

array(['hindi', 'french', 'chinese', 'nepali', 'english', 'utang'],
      dtype=object)

In [8]:
# Default index & user defined index
# Default Numeric indexes
print(NewSeries[0])
print(NewSeries[1])
print(NewSeries[2])
print(NewSeries[3])
print(NewSeries[4])
print(NewSeries[5])
print()
print(NewSeries[0:6])
print()
# User defined labelled indexes
print(NewSeries["India"])
print(NewSeries["France"])
print(NewSeries["China"])
print(NewSeries["Nepal"])
print(NewSeries["America"])
print(NewSeries["Bhutan"])
print()
print(NewSeries["India":"Bhutan"])

hindi
french
chinese
nepali
english
utang

India        hindi
France      french
China      chinese
Nepal       nepali
America    english
Bhutan       utang
dtype: object

hindi
french
chinese
nepali
english
utang

India        hindi
France      french
China      chinese
Nepal       nepali
America    english
Bhutan       utang
dtype: object

## Creating Series From a  Dictionary, series(data={}, index={}.keys())

In [9]:
# Converting 0D dictionary into 1D series
Dict = {0:"India", 1:"France", 2:"China", 3:"Nepal", 4:"America", 5:"Bhutan"}
print(Dict)
print(type(Dict))
print(ndim(Dict))
print(size(Dict))
print(len(Dict))
# print(Dict.count())
print(shape(Dict))

NewDict = series(data=Dict) # converting 0D dictionary to 1D series
print(NewDict)
print(type(NewDict))
print(ndim(NewDict))
print(size(NewDict))
print(len(NewDict))
print(NewDict.count())
print(shape(NewDict))

{0: 'India', 1: 'France', 2: 'China', 3: 'Nepal', 4: 'America', 5: 'Bhutan'}
<class 'dict'>
0
1
6
()
0      India
1     France
2      China
3      Nepal
4    America
5     Bhutan
dtype: object
<class 'pandas.core.series.Series'>
1
6
6
6
(6,)

In [10]:
# Converting 0D dictionary into 1D series

Origin = {"Jhonny":"Indian", "Rob":"Nepali", "Suzain":"Japanese", "Atif":"Pakistani"}
Seri = series(data=Origin)
print(Seri)
print(type(Seri))
print(ndim(Seri))
print(size(Seri))
print(len(Seri))
print(Seri.count())
print(shape(Seri))

print()

# Series Default index & dic default index

print(Seri[0])
print(Seri[1])
print(Seri[2])
print(Seri[3])
print()
print(Seri[0:4])

print()
# labelled indexes
print(Seri["Jhonny"])
print(Seri["Rob"])
print(Seri["Suzain"])
print(Seri["Atif"])
print()
print(Seri["Jhonny":"Atif"])

Jhonny       Indian
Rob          Nepali
Suzain     Japanese
Atif      Pakistani
dtype: object
<class 'pandas.core.series.Series'>
1
4
4
4
(4,)

Indian
Nepali
Japanese
Pakistani

Jhonny       Indian
Rob          Nepali
Suzain     Japanese
Atif      Pakistani
dtype: object

Indian
Nepali
Japanese
Pakistani

Jhonny       Indian
Rob          Nepali
Suzain     Japanese
Atif      Pakistani
dtype: object

In [11]:
Origin.keys() #keys  of dict Origin

dict_keys(['Jhonny', 'Rob', 'Suzain', 'Atif'])

In [12]:
Origin.values() # values of dict Origin

dict_values(['Indian', 'Nepali', 'Japanese', 'Pakistani'])

In [13]:
Seri.keys() # labelled indexes of series Seri

Index(['Jhonny', 'Rob', 'Suzain', 'Atif'], dtype='object')

In [14]:
Seri.index # labelled indexes of series Seri

Index(['Jhonny', 'Rob', 'Suzain', 'Atif'], dtype='object')

In [15]:
Seri.values # element values of series Seri

array(['Indian', 'Nepali', 'Japanese', 'Pakistani'], dtype=object)

In [16]:
# Creating 1D lists
myindex = ['USA','Canada','Mexico']

mydata = [1776,1867,1821]

In [17]:
# creating 1D series
myser = series(data=mydata, index=myindex)

print(myser)
print(type(myser))
print(ndim(myser))
print(size(myser))
print(len(myser))
print(myser.count())
print(shape(myser)) # 3 columns

USA       1776
Canada    1867
Mexico    1821
dtype: int64
<class 'pandas.core.series.Series'>
1
3
3
3
(3,)

In [18]:
ran_data = random.randint(low=0, high=100, size=4)

print(ran_data)
print(type(ran_data))
print(shape(ran_data))
print(ran_data.dtype)

print()

names = ['Andrew','Bobo','Claire','David']

ages1 = series(data=ran_data, index=names)

print(ages1)

print()

### From a  Dictionary

ages2 = {'Sammy':5,'Frank':10,'Spike':7}

print(ages2)

print()

print(series(ages2))

[99 54  4 59]
<class 'numpy.ndarray'>
(4,)
int32

Andrew    99
Bobo      54
Claire     4
David     59
dtype: int32

{'Sammy': 5, 'Frank': 10, 'Spike': 7}

Sammy     5
Frank    10
Spike     7
dtype: int64

In [19]:
students = ["Kanika", "Adnan", "Lucifer", "Angella"]

In [20]:
Students = series(students)
Students

0     Kanika
1      Adnan
2    Lucifer
3    Angella
dtype: object

In [21]:
Series1 = series([1,2,3,4]) # 1D list to series
print(Series1)
print(shape(Series1))
print(type(Series1))

0    1
1    2
2    3
3    4
dtype: int64
(4,)
<class 'pandas.core.series.Series'>

In [22]:
Series2 = series((1,2,3,4)) # 1D list to series
print(Series2)
print(shape(Series2))
print(type(Series2))

0    1
1    2
2    3
3    4
dtype: int64
(4,)
<class 'pandas.core.series.Series'>

In [23]:
Series3 = series({'inki':1, 'minki':2, 'ponki':3, 'donki':4}) # 0D dict to series
print(Series3)
print(shape(Series3))
print(type(Series3))

inki     1
minki    2
ponki    3
donki    4
dtype: int64
(4,)
<class 'pandas.core.series.Series'>

Series4 = series({'inki', 'minki', 'ponki', 'donki'}) # you can't convert 0D set to series
                                                      # Because set is unordered & don't have index
print(Series4)
print(shape(Series4))
print(type(Series4))

## indexing of series[ : , : ] & naming of the series and it's index using.. series.name = "series_name" & series.index.name = "index_name"

In [24]:
MixList = ["Adnan", 54+8j, 56, 45.39, {"A":78.99}, {87}]

In [25]:
Mix = series(MixList)
Mix

0           Adnan
1         (54+8j)
2              56
3           45.39
4    {'A': 78.99}
5            {87}
dtype: object

In [26]:
Mix = series(data=MixList, index=["string","Complex","int","float","dict","set"])
Mix

string            Adnan
Complex         (54+8j)
int                  56
float             45.39
dict       {'A': 78.99}
set                {87}
dtype: object

In [27]:
Mix.keys() # labelled indexes of a the series

Index(['string', 'Complex', 'int', 'float', 'dict', 'set'], dtype='object')

In [28]:
Mix.index # labelled indexes of a the series

Index(['string', 'Complex', 'int', 'float', 'dict', 'set'], dtype='object')

In [29]:
Mix.values

array(['Adnan', (54+8j), 56, 45.39, {'A': 78.99}, {87}], dtype=object)

In [30]:
print(Mix.size)
print(len(Mix))
print(Mix.count())

6
6
6

In [31]:
Mix[0:5] # from numeric index 0 to 5

string            Adnan
Complex         (54+8j)
int                  56
float             45.39
dict       {'A': 78.99}
dtype: object

In [32]:
Mix["string":"dict"] # from labelled index "string" to "dict"

string            Adnan
Complex         (54+8j)
int                  56
float             45.39
dict       {'A': 78.99}
dtype: object

## adding preffix & suffix to series index, series=series.add_prefix("before_") & series=series.add_suffix("_after")

In [33]:
Mix = series(data=MixList, index=["string","Complex","int","float","dict","set"], dtype="string")
Mix.index.name = "dtypes" # give name to the labelled indexes
Mix = Mix.add_prefix('dtype_')
Mix = Mix.add_suffix('-->')
Mix

dtypes
dtype_string-->            Adnan
dtype_Complex-->         (54+8j)
dtype_int-->                  56
dtype_float-->             45.39
dtype_dict-->       {'A': 78.99}
dtype_set-->                {87}
dtype: string

In [34]:
print(Mix.dtype)
print(Mix.count())
print(len(Mix))
print(size(Mix))
print(Mix.shape)
print(Mix.ndim)

string
6
6
6
(6,)
1

In [35]:
s1 = series(data=["A","B","C","D"])
s2 = series(data=["A","B","C","D"])
s1 == s2 # element to element equality check

0    True
1    True
2    True
3    True
dtype: bool

In [36]:
s1.equals(s2)

True

In [37]:
s1.name = "My series"
s1

0    A
1    B
2    C
3    D
Name: My series, dtype: object

In [38]:
s1.index.name = "index"
s1

index
0    A
1    B
2    C
3    D
Name: My series, dtype: object

In [39]:
Actors = ["Alex", "Tom", "Jerry", "Rock"]
Ages = [51, 34, 62, 56]
Cinema = series(data=Ages, index=Actors)
Cinema.index.name="Actors"
Cinema

Actors
Alex     51
Tom      34
Jerry    62
Rock     56
dtype: int64

In [40]:
print(arange(start=10, stop=-11, step=-1)) # array
type(arange(start=10, stop=-11, step=-1))

[ 10   9   8   7   6   5   4   3   2   1   0  -1  -2  -3  -4  -5  -6  -7
  -8  -9 -10]

numpy.ndarray

In [41]:
from pandas import RangeIndex
print(RangeIndex(start=10, stop=-11, step=-1))
type(RangeIndex(start=10, stop=-11, step=-1))

RangeIndex(start=10, stop=-11, step=-1)

pandas.core.indexes.range.RangeIndex

In [42]:
alpha = 'abcdefghijklmnopqrstuvwxyz'
ALPHA = alpha.upper()
print(alpha)
print(ALPHA)
print(len(alpha))
print(len(ALPHA))
print(list(alpha))
print(list(ALPHA))

abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
26
26
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [43]:
alpha26 = series(data=list(ALPHA), index=list(alpha))
alpha26

a    A
b    B
c    C
d    D
e    E
f    F
g    G
h    H
i    I
j    J
k    K
l    L
m    M
n    N
o    O
p    P
q    Q
r    R
s    S
t    T
u    U
v    V
w    W
x    X
y    Y
z    Z
dtype: object

In [44]:
from string import ascii_lowercase

In [45]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [46]:
series('Andy')

0    Andy
dtype: object

In [47]:
series(ascii_lowercase)

0    abcdefghijklmnopqrstuvwxyz
dtype: object

In [48]:
print(len(ascii_lowercase))

26

In [49]:
letters = list(ascii_lowercase)
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [50]:
alphabet = series(letters)

In [51]:
alphabet.head(6)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [52]:
from string import ascii_uppercase

In [53]:
labelled_alphabet = series(data=list(ascii_lowercase), index=map(lambda x: 'label_' + x, list(ascii_uppercase)))
labelled_alphabet

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [54]:
labelled_alphabet = series(data=list(ascii_lowercase), index=list(ascii_uppercase))
labelled_alphabet=labelled_alphabet.add_prefix('label_')
labelled_alphabet

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [55]:
labelled_alphabet.head(3)

label_A    a
label_B    b
label_C    c
dtype: object

In [56]:
labelled_alphabet[0]

'a'

In [57]:
labelled_alphabet['label_A']

'a'

In [58]:
labelled_alphabet[10]

'k'

In [59]:
labelled_alphabet['label_K']

'k'

In [60]:
labelled_alphabet[0:3]

label_A    a
label_B    b
label_C    c
dtype: object

In [61]:
labelled_alphabet['label_A':'label_C']

label_A    a
label_B    b
label_C    c
dtype: object

In [62]:
labelled_alphabet[5:10]

label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [63]:
labelled_alphabet['label_F':'label_J']

label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [64]:
labelled_alphabet[:'label_G']

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
dtype: object

In [65]:
labelled_alphabet['label_F':'label_J']

label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [ ]:
labelled_alphabet[-6:] # last six elements of series

label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [ ]:
labelled_alphabet['label_U':] # last six elements of series

## series.iloc[ : , : ] & series.loc[ : , : ] for default indexing & defined indexing & boolean series.loc[[True,False,True]]

In [ ]:
MixList = ["Adnan", 54+8j, 56, 45.39, {"A":78.99}, {87}]
Mix = series(data=MixList, index=["string","Complex","int","float","dict","set"], dtype="string")
Mix.index.name = "dtypes"
Mix = Mix.add_prefix('dtype_')
Mix = Mix.add_suffix('-->')
Mix

In [ ]:
Mix[0:6] # default numeric indexing

In [ ]:
Mix["dtype_string-->":"dtype_set-->"] # defined labelled indexing

In [ ]:
Mix.iloc[0:6] # default numeric indexing using iloc

In [ ]:
Mix.loc["dtype_string-->":"dtype_set-->"] # defined labelled indexing

In [ ]:
Mix.iloc[1:3]

In [ ]:
Mix.iloc[[1,2]]

In [ ]:
Mix[[1,2]]

## Boolean Masks with .loc[ ] & iloc[ ] indexer

In [ ]:
Mix.loc[[True,True,True,True,True,True]] # indexing with boolean loc[[]]

In [ ]:
Mix.iloc[[True,True,True,True,True,True]] # indexing with boolean iloc[[]]

In [ ]:
Mix.loc[[True for i in range(6)]] # indexing with boolean loc[[]]

In [ ]:
Mix.iloc[[True for i in range(6)]] # indexing with boolean loc[[]]

In [ ]:
Mix.loc[[True,False,True,False,True,False]] # indexing with boolean loc[[]]

In [ ]:
Mix.iloc[[True,False,True,False,True,False]] # indexing with boolean iloc[[]]

In [ ]:
Mix.loc[[True for i in range(Mix.size)]] # indexing with boolean loc[[]]

In [ ]:
Mix.iloc[[True for i in range(Mix.size)]] # indexing with boolean iloc[[]]

In [ ]:
Mix.loc[[True if i%2==0 else False for i in range(len(Mix))]] # indexing with boolean loc[[]]
                                                              # select only even indexes

In [ ]:
Mix.iloc[[True if i%2==0 else False for i in range(len(Mix))]] # indexing with boolean iloc[[]]
                                                              # select only even indexes

In [ ]:
Mix.loc[[True if i%2==0 else False for i in range(Mix.size)]] # indexing with boolean loc[[]]
                                                              # select only even indexes

In [ ]:
Mix.iloc[[True if i%2==0 else False for i in range(Mix.size)]] # indexing with boolean iloc[[]]
                                                               # select only even indexes

## series indexing using .iloc[ ] & .loc[ ] combining with lambda

In [ ]:
labelled_alphabet.loc[lambda x: 'label_V'] # applying lambda on labelled index

In [ ]:
labelled_alphabet.loc[lambda x: ['label_V', 'label_A']] # applying lambda on labelled index

In [ ]:
labelled_alphabet.loc[lambda x: [True for i in range(x.size)]] # applying lambda on boolean mask with .loc[[]]

In [ ]:
labelled_alphabet.iloc[lambda x: [True for i in range(x.size)]] # applying lambda on boolean mask with .iloc[[]]

In [ ]:
def every5th(series):
    return [True if i%5==0 else False for i in range(series.size)]

In [ ]:
labelled_alphabet.iloc[every5th]

In [ ]:
labelled_alphabet.loc[every5th]

## seriesindexing using series.get()

In [ ]:
labelled_alphabet.get(0)

In [ ]:
labelled_alphabet.get([0,1,2])

In [ ]:
labelled_alphabet.get('label_A')

In [ ]:
labelled_alphabet.get(['label_A','label_B','label_C'])

In [ ]:
labelled_alphabet.get('Monkey', default=None) # no response

In [ ]:
labelled_alphabet.get('Monkey', default="it doesn't exist") # no response

## Converting 1D Array into Series, only 1D array can be converted into series
* series is always 1D (one dimentional)

In [ ]:
Array1D=array(["KESHAV", 45+9j, True, 39.69, 39]) # This is 1D array
Series3D = series(data=Array1D) # converting 1D array into 1D series
Series3D

In [ ]:
Array1D=array([{'Brazil': 100,'China': 500, 'India': 210,'USA': 260}]) # Convert 0D dict to 1D list & then array
print(ndim(Array1D))
Series3D = series(data=Array1D) # converting 1D array into 1D series
print(Series3D)
print(ndim(Series3D))

In [ ]:
Series3D = series(data={'Brazil': 100,'China': 500, 'India': 210,'USA': 260}) # converting 0D dict into 1D series
print(Series3D)
print(ndim(Series3D))

# Key Ideas of a Series

In [ ]:
# Key Ideas of a Series

## Named Index

# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
# created 2 dictionaries
Q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
Q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

# Convert 0D dictionaries into 1D Pandas Series
sales_Q1 = series(Q1)
sales_Q2 = series(Q2)

print(sales_Q1)
print()
print(sales_Q2)
print()
# Call values based on Named Index
print(sales_Q1['Japan'])
print(sales_Q1[0])

# Integer Based Location information also retained!

# **Be careful with potential errors!**

# Wrong Name
# sales_Q1['France']

# Accidental Extra Space
# sales_Q1['USA ']

# Capitalization Mistake
# sales_Q1['usa']

## Operations
## Dictionary works with both dict.keys() & dict.values() but series works with series.keys() & series.values

In [ ]:
Array2DL = array([[1,2,3],[4,5,6]])
print(Array2DL)
print(shape(Array2DL))

Array2DR = array([[7,8,9],[10,11,12]])
print(Array2DR)
print(shape(Array2DR))

In [ ]:
Array3D = array([Array2DL, Array2DR], dtype=object)

print(Array3D)
print(Array3D.dtype)
print(type(Array3D))
print(ndim(Array3D))
print(shape(Array3D)) # 2 Arrays, 2 Rows & 3 Columns

In [ ]:
Array3D = array([[[1,2,3],[4,5,6]], [[7,8,9],[10,11,12]]], dtype=object)

print(Array3D)
print(Array3D.dtype)
print(type(Array3D))
print(ndim(Array3D))
print(shape(Array3D)) # 2 Arrays, 2 Rows & 3 Columns

In [ ]:
Array3D = array([[[1,2,3],[4,5,6],[7,8,9]],
                 [[10,11,12],[13,14,15],[16,17,18]],
                 [[19,20,21],[22,23,24],[25,26,27]]])
print(Array3D)
print(ndim(Array3D))
print(Array3D.dtype)
print(type(Array3D))
print(Array3D.shape) # 3 Arrays, 3 Rows & 3 Columns

In [ ]:
# Grab just the index keys from dictionary and series
print(Q1.keys())
print()
print(Q1.values())
print()
print(Q2.keys())
print()
print(Q2.values())
print()
print(sales_Q1.keys())
print()
print(sales_Q1.values)
# print(sales_Q1.values())
print()
print(sales_Q2.keys())
print()
print(sales_Q2.values)
# print(sales_Q2.values())

In [ ]:
Array3D = linspace(start=0, stop=100, num=27, dtype=int).reshape([3,3,3])
print(Array3D)
print(ndim(Array3D))
print(Array3D.dtype)
print(type(Array3D))
print(Array3D.shape) # 3 Arrays, 3 Rows & 3 Columns

In [ ]:
# Can Perform Operations Broadcasted across entire Series
print(sales_Q1 * 2)

In [ ]:
# showing series indexes
print(sales_Q1.index)
print(sales_Q1.keys())

In [ ]:
print(sales_Q2 / 100)

## Operations Between Series

In [ ]:
# Notice how Pandas informs you of mismatch with NaN
# keys "Japan" & "Brazil" will missmatch
print(sales_Q1)
print()
print(sales_Q2)
print()
print(sales_Q1 + sales_Q2)

In [ ]:
print((sales_Q1 + sales_Q2).keys())

In [ ]:
# You can fill these with any value you want
print(sales_Q1.add(sales_Q2, fill_value=0))

# DataFrames has both row indexes & column indexes
## DataFrame(data=[], index=[], columns=[]) and DataFrame only works with 2D data structure

Throughout the course, most of our data exploration will be done with DataFrames. DataFrames are an extremely powerful tool and a natural extension of the Pandas Series. By definition all a DataFrame is:

**A Pandas DataFrame consists of multiple Pandas Series that share index values.**

## Creating a DataFrame from Python Objects

In [ ]:
# some python lists
names = array([['Olga', 'Andrew', 'Brian', 'Telulah', 'Nicole', 'Tilda']]) # converting 2D list into array
ages = array([[29, 21, 45, 23, 39, 46]]) # converting 2D list into array
married = array([[False, True, True, True, False, True]]) # converting 2D list into array

In [ ]:
print(shape(names.T))
print(shape(ages.T))
print(shape(married.T))

In [ ]:
# Ways to Create 2D arrays with multiple rows & collumns

from numpy import concatenate, hstack, append, stack

frame = stack([names, ages, married], axis=2)
print(type(frame))
print(shape(frame))

frame = concatenate([names.T, ages.T, married.T], axis=1)
print(type(frame))
print(shape(frame))

frame = hstack([names.T, ages.T, married.T])
print(type(frame))
print(shape(frame))

# frame = append(names.T, append(ages.T, married.T, axis=1), axis=1)
# print(shape(frame))
# frame

In [ ]:
# pandas dataframe
print(frame)
print(type(frame))
df = DataFrame(data=frame, columns=['name', 'age', 'married'])
print(shape(df))
df

In [ ]:
# some python lists
names = ['Olga', 'Andrew', 'Brian', 'Telulah', 'Nicole', 'Tilda'] # 1D list
ages = [29, 21, 45, 23, 39, 46] # 1D list
married = [False, True, True, True, False, True] # 1D list

# pandas dataframe
df = DataFrame({'name': names, 'age': ages, 'married': married})
print(shape(df))
df

In [ ]:
tuple_names = tuple(names) # 1D tuple
tuple_ages = tuple(ages) # 1D tuple
tuple_married = tuple(married) # 1D tuple

df = DataFrame({'name': tuple_names,
                'ages': tuple_ages,
                'married': tuple_married})
print(shape(df))
df

In [ ]:
series_names = series(names) # 1D series
series_ages = series(ages) # 1D series
series_married = series(married) # 1D series

df = DataFrame({'name': series_names,
                'ages': series_ages,
                'married': series_married})
print(shape(df))
df

In [ ]:
dict_names = dict(series(names)) # 0D dict
dict_ages = dict(series(ages)) # 0D dict
dict_married = dict(series(married)) # 0D dict

df = DataFrame({'name': dict_names,
                'ages': dict_ages,
                'married': dict_married})
print(shape(df))
df

In [ ]:
frame=list(zip(names, ages, married))
print(frame) # List having nested tuples
print(type(frame))

# pandas dataframe
df = DataFrame(data=frame, columns=['name', 'age', 'married'])
print(shape(df))
df

In [ ]:
frame=array(list(zip(names, ages, married)))
print(frame) # List having nested tuples
print(type(frame))

# pandas dataframe
df = DataFrame(data=frame, columns=['name', 'age', 'married'])
print(shape(df))
df

In [ ]:
df.iloc[[2],[0]]

In [ ]:
df.iloc[[2]]

In [ ]:
df[['name']]

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
print(names)
print(ages)
print(married)

In [ ]:
list(enumerate(names))

In [ ]:
def convert_list_to_dict(List: list):
    return {k:v for k,v in enumerate(List)}

In [ ]:
dict_names = convert_list_to_dict(names)
dict_names

In [ ]:
dict_ages = convert_list_to_dict(ages)
dict_married = convert_list_to_dict(married)
print(dict_ages)
print(dict_married)

In [ ]:
df = DataFrame({'name': dict_names,
                'ages': dict_ages,
                'married': dict_married})

df

In [ ]:
rowwise = [{'name': name, 'age': ages, 'married': married} for name, ages, married in zip(names, ages, married)]
DataFrame(rowwise)

In [ ]:
random.seed(101)
mydata = random.randint(low=0, high=101, size=[1,4,3])
print(mydata) # 1 array, 4 rows & 3 Columns
print(shape(mydata))
# 2D arrays
print()
random.seed(101)
mydata = random.randint(low=0, high=101, size=12).reshape([1,4,3])
print(mydata)
print(shape(mydata)) # 1 array, 4 rows & 3 Columns

In [ ]:
Rowindex = ['CA','NY','AZ','TX']

Colindex = ['Jan','Feb','Mar']

In [ ]:
mydata = random.randint(low=0, high=101, size=12).reshape([4,3])
DF = DataFrame(data=mydata, index=Rowindex ,columns=Colindex)
print(DF)
print(type(DF))
print(ndim(DF))
print(size(DF))
print(len(DF))
print(shape(DF)) # 4 Rows & 3 Columns

In [ ]:
print(DF.info())

In [ ]:
mydata = random.randint(low=0, high=101, size=180).reshape([3,10,6])
print(mydata)
print(shape(mydata)) # 3 Arrays, 10 Rows & 6 Columns

In [ ]:
Rowindex = ['CA','NY','AZ','TX', 'LX', 'MX', 'ZX', '98', '89', '10']

Colindex = ['Jan','Feb','Mar', 'Apr', 'May', 'June']
# selecting 1st Array index
DF = DataFrame(data=mydata[1], index=Rowindex ,columns=Colindex)
print(DF)
print(type(DF))
print(ndim(DF))
print(size(DF))
print(len(DF))
print(shape(DF)) # 10 Rows & 6 Columns

## What Is A DataFrame?

In [ ]:
# some python lists
names = ['Olga', 'Andrew', 'Brian', 'Telulah', 'Nicole', 'Tilda']
ages = [29, 21, 45, 23, 39, 46]
married = [False, True, True, True, False, True]

In [ ]:
# pandas series
ser = series(data=names)
ser

In [ ]:
# pandas dataframe
df = DataFrame({'name': names, 'age': ages, 'married': married}) # 0D dict into 2D DataFrame
df


# Reading a .csv file for a DataFrame

----

## NOTE: We will go over all kinds of data inputs and outputs (.html, .csv, .xlxs , etc...) later on in the course! For now we just need to read in a simple .csv file.

----

In [ ]:
pwd

In [ ]:
ls

## CSV
Comma Separated Values files are text files that use commas as field delimeters.<br>
Unless you're running the virtual environment included with the course, you may need to install <tt>xlrd</tt> and <tt>openpyxl</tt>.<br>
In your terminal/command prompt run:

    conda install xlrd
    conda install openpyxl

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

## Understanding File Paths

You have two options when reading a file with pandas:

1. If your .py file or .ipynb notebook is located in the **exact** same folder location as the .csv file you want to read, simply pass in the file name as a string, for example:
    
        df = pd.read_csv('some_file.csv')
        
2. Pass in the entire file path if you are located in a different directory. The file path must be 100% correct in order for this to work. For example:

        df = pd.read_csv("C:\\Users\\myself\\files\\some_file.csv")

In [ ]:
dataurl = 'https://andybek.com/pandas-nutrition'

In [ ]:
nutrition = read_csv(dataurl)

In [ ]:
nutrition.head(10)

In [ ]:
nutrition.head()

In [ ]:
nutrition.drop('Unnamed: 0', axis=1)

In [ ]:
nutrition.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
nutrition

In [ ]:
nutrition = read_csv(dataurl, index_col=[0])
nutrition

In [ ]:
nutrition.sample() # randomly select a single row as a sample

In [ ]:
nutrition.sample(random_state=12)

In [ ]:
nutrition.sample(n=3) # randomly select 3 Rows as sample

In [ ]:
nutrition.sample(frac=0.01) # randomly select 1% as sample

In [ ]:
nutrition.shape[0] * 0.01 # 10% of total number of rows is 87.89 rows

In [ ]:
# with or without replacement while random sampling
nutrition.sample(n=3, replace=True)

# DataFrame Axes

In [ ]:
nutrition.axes # DataFrame rows & columns

In [ ]:
nutrition.index

nutrition.axes[0]

In [ ]:
nutrition.columns

nutrition.keys()

nutrition.axes[1]

In [ ]:
nutrition.axes[0][3]

nutrition.index[3]

In [ ]:
nutrition.axes[1][3]

nutrition.columns[3]

## 3 Changing DataFrame index dtype

In [ ]:
print(type(nutrition.index))
print(type(nutrition.columns))

In [ ]:
from pandas import RangeIndex
nutrition.index = RangeIndex(start=0, stop=8789, step=1)

In [ ]:
print(type(nutrition.index))

In [ ]:
nutrition.set_index('name', inplace=True) # user defined set column as index

In [ ]:
print(type(nutrition.index))

In [ ]:
nutrition.head()

In [ ]:
# setting multi index for nutrition DataFrame ie 'name' & 'folic_acid'

nutrition.set_index('folic_acid', drop=False, append=True, verify_integrity=False).head()

In [ ]:
nutrition.calories.value_counts()

In [ ]:
nutrition.count()

In [ ]:
nutrition.set_index('calories', verify_integrity=False) # verify unique or repeated

In [ ]:
nutrition

In [ ]:
nutrition.loc[['Eggplant, raw']]

In [ ]:
nutrition.loc[['Eggplant, raw'],['calories']]

In [ ]:
nutrition.loc['Eggplant, raw':'Sherbet, orange', 'calories':'cholesterol']

In [ ]:
nutrition.loc[['Raspberries, raw', 'Blackberries, raw'],['protein', 'vitamin_b6', 'water']]

## DataFrame Extraction By Position

In [ ]:
nutrition.iloc[[3]]

In [ ]:
nutrition.iloc[[3], :]

In [ ]:
nutrition.iloc[[4,6,9], :]

In [ ]:
nutrition.iloc[[4,6,9]]

In [ ]:
nutrition.iloc[[4,6,9], [2]]

In [ ]:
nutrition.iloc[[4,6,9], 2:5]

### boolean indexing

In [ ]:
# boolean indexing

new_nutr = nutrition.iloc[[True if i%2==0 else False for i in range(8789)],[True if i%2==0 else False for i in range(75)]]

In [ ]:
new_nutr

In [ ]:
nutrition.iloc[[9],[1]]

In [ ]:
nutrition.loc[['Nuts, pecans'], ['calories']]

In [ ]:
nutrition.iloc[[1],[1]]

In [ ]:
nutrition.columns.get_loc('vitamin_k') # iloc of 'vitamin_k'

## More Cleanup: Going Numeric

In [ ]:
nutrition[['total_fat']].head()

In [ ]:
nutrition[['total_fat']].sum()

## The astype() Method

In [ ]:
df = DataFrame({
    'age': [12, 13, 14, 16], 
    'weight': [41.1, 34.5, 83.2, 90.1], 
    'height': ['1.72', '1.74', '1.91', '1.54']
    })

df

In [ ]:
df.info()

In [ ]:
df = df.astype(float)
df

In [ ]:
df.astype({'age': int})

In [ ]:
from numpy import int16
df.astype({'age': int16})

## DataFrame replace() + A Glimpse At Regex

In [ ]:
dfm = nutrition.iloc[:6, :1]
dfm

In [ ]:
dfm.info()

In [ ]:
dfm.replace('100 g', 100)

In [ ]:
dfm.replace('g', '')

In [ ]:
# regex -> regular expressions
dfm.replace(' g', '', regex=True).astype(int)

## Part I: Collecting the Units

In [ ]:
nutrition

In [ ]:
clean = nutrition.astype(str).replace('[ ^a-zA-Z]', '', regex=True)

In [ ]:
clean

In [ ]:
nutrition[['saturated_fat']].value_counts()

In [ ]:
clean[['saturated_fat']].value_counts()

In [ ]:
clean.mode()

## The rename() Method

In [ ]:
df

In [ ]:
df.rename(index={0:'Pikachu'})

In [ ]:
df.rename(index={0:'Pikachu', 1: 'Andy'})

In [ ]:
df.rename(columns={'weight': 'Weight (kg)'})

In [ ]:
df.rename(columns={'weight': 'Weight (kg)'}, index={0: 'Pikachu'})

In [ ]:
df

In [ ]:
df.rename(mapper={'height': 'Height (m)'}, axis=1)

df.rename(mapper={'height': 'Height (m)'}, axis='column')

In [ ]:
df.axes[1]

df.keys()

df.columns

In [ ]:
df.axes[0]

df.index

In [ ]:
Wine = read_csv('https://andybek.com/pandas-drinks') # read Wine csva
Wine

In [ ]:
Wine = read_csv('https://andybek.com/pandas-drinks', usecols=['country','wine_servings'])
Wine # take 'country','wine_servings' columns

In [ ]:
Wine = read_csv('https://andybek.com/pandas-drinks', usecols=['country','wine_servings'], index_col=['country'])
Wine # set user defined index is 'country'

In [ ]:
Wine = read_csv('https://andybek.com/pandas-drinks', usecols=['country','wine_servings'])
Wine.set_index('country') # set user defined index

## series.size, series.shape, len(series)

In [ ]:
Wine.size

In [ ]:
Wine.shape

In [ ]:
len(Wine)

## Unique Values and Series Monotonicity Direction

In [ ]:
Wine = read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country', squeeze=True)
Wine

In [ ]:
print(type(Wine))
Wine.is_unique # are the values unique ?? Wine is series

In [ ]:
Wine.values # wine is series here

In [ ]:
Wine.unique() # unique values of series Wine

In [ ]:
print(len(Wine.unique()))
print(size(Wine.unique()))

In [ ]:
print(Wine.size)
print(len(Wine.values))

In [ ]:
Wine.index

In [ ]:
Wine.keys()

In [ ]:
Wine.values.size == Wine.index.size

In [ ]:
Wine.shape

In [ ]:
Wine.size == Wine.shape[0] # [0] Represents number of rows

In [ ]:
len(Wine)

In [ ]:
Wine.is_unique # are all values are unique ??

In [ ]:
Wine.head().is_unique # are first five values unique ??

In [ ]:
Wine.nunique() # total unique values ??

In [ ]:
Wine.nunique(dropna=False) # total unique values including NaN/None ??

In [ ]:
# monotonicity

In [ ]:
series([1,2,3]).is_monotonic # values direction check

In [ ]:
series([1,2,3,3,3,3]).is_monotonic # values direction check

In [ ]:
series([1,2,3,3,3,3,4,10,79,100]).is_monotonic_increasing # values direction increasing ??

In [ ]:
series(reversed([1,2,3,3,3,3,4,10,79,100])).is_monotonic_decreasing # values direction decreasing ??

## The element frequency count() Method for a series

In [ ]:
Wine.count()

In [ ]:
len(Wine)

In [ ]:
Wine.size

In [ ]:
Wine.hasnans # do the series have NaN/None values

## Accessing And Counting NA's using series.isnull( ) & series.isna( ) & isnan(series)

In [ ]:
Wine.count() # count total number of values excluding NaN/None

In [ ]:
Wine.isnull() # Check NaN values are present or not

In [ ]:
Wine.isna() # Check NaN values are present or not

In [ ]:
from numpy import isnan
isnan(Wine) # Check NaN values are present or not

In [ ]:
Wine.isnull().index

In [ ]:
Wine[Wine.isnull()].index # which indexes have NaN/None values ??

In [ ]:
Wine.isna().index

In [ ]:
Wine[Wine.isna()].index # which indexes have NaN/None values ??

In [ ]:
isnan(Wine).index

In [ ]:
Wine[isnan(Wine)].index # which indexes have NaN/None values ??

In [ ]:
Wine.isnull().keys()

In [ ]:
Wine[Wine.isnull()].keys() # which indexes have NaN/None values ??

In [ ]:
Wine.isna().keys()

In [ ]:
Wine[Wine.isna()].keys() # which indexes have NaN/None values ??

In [ ]:
isnan(Wine).keys()

In [ ]:
Wine[isnan(Wine)].keys() # which indexes have NaN/None values ??

In [ ]:
len(Wine[Wine.isnull()].index) # total NaN/None values

In [ ]:
len(Wine[Wine.isnull()].keys()) # total NaN/None values

In [ ]:
len(Wine[Wine.isna()].index) # total NaN/None values

In [ ]:
len(Wine[Wine.isna()].keys()) # total NaN/None values

In [ ]:
len(Wine[isnan(Wine)].index) # total NaN/None values

In [ ]:
len(Wine[isnan(Wine)].keys()) # total NaN/None values

In [ ]:
list(Wine[Wine.isnull()].index)
list(Wine[Wine.isnull()].keys())
list(Wine[Wine.isna()].index)
list(Wine[Wine.isna()].keys())
list(Wine[isnan(Wine)].index)
list(Wine[isnan(Wine)].keys())

In [ ]:
# cumbersome: very difficult to work with

In [ ]:
# antonym: pandorable -> adorable and involving pandas

In [ ]:
print(Wine.isnull().sum())
print(Wine.isna().sum())
print(isnan(Wine).sum())

In [ ]:
Wine.isnull().values
Wine.isna().values
isnan(Wine).values

In [ ]:
# Total number of NaN/None values
print(Wine.isnull().values.sum())
print(Wine.isna().values.sum())
print(isnan(Wine).values.sum())

In [ ]:
# booleans are integers in python

In [ ]:
sum([True, False, True])

In [ ]:
all = Wine.size # total number of elemen objects

In [ ]:
nonnulls = Wine.count() # excluding NaN/None values

In [ ]:
nulls = Wine.isna().sum() # total NaN/None values

In [ ]:
all == nonnulls + nulls

## The Other Side: notnull( ) And notna( )

In [ ]:
from pandas import notnull, notna

In [ ]:
Wine.notnull()

In [ ]:
Wine.notna()

In [ ]:
Wine.notnull().index

In [ ]:
Wine.notna().index

In [ ]:
Wine.notnull().keys()

In [ ]:
Wine.notna().keys()

In [ ]:
Wine.loc[Wine.notna()] # labelled series.loc[] boolean conditional indexing

In [ ]:
Wine.loc[Wine.notna().values] # labelled series.loc[] boolean conditional indexing

In [ ]:
Wine.loc[list(Wine.notna())] # labelled series.loc[] boolean conditional indexing

In [ ]:
Wine.iloc[Wine.notna().values] # labelled series.iloc[] boolean conditional indexing

In [ ]:
Wine[Wine.notna()]

In [ ]:
Wine.notnull()

In [ ]:
Wine.loc[Wine.notnull()] # labelled series.loc[] conditional indexing

In [ ]:
Wine.loc[list(Wine.notnull())] # labelled series.loc[] conditional indexing

In [ ]:
Wine.loc[Wine.notnull().values] # labelled series.loc[] conditional indexing

In [ ]:
Wine.iloc[Wine.notnull().values] # labelled series.iloc[] conditional indexing

In [ ]:
Wine[Wine.notnull()] # labelled series.loc[] conditional indexing

In [ ]:
Wine.notnull()

In [ ]:
Wine[Wine.notnull().values] # labelled series.loc[] conditional indexing

In [ ]:
Wine[list(Wine.notnull())] # labelled series.loc[] conditional indexing

In [ ]:
Tips['size'] > 3

In [ ]:
Wine[[0,1,2]] # labelled series.loc[] conditional indexing

In [ ]:
Wine[['Albania','Algeria','Andorra']] # labelled series.loc[] conditional indexing

In [ ]:
Wine.notna().sum()

In [ ]:
Wine.notnull().sum()

In [ ]:
Wine.count() # Total by excluding NaN/None object elements

In [ ]:
Wine.notnull().sum() + Wine.isnull().sum() == Wine.size

## BONUS: Booleans Are Literally Numbers In Python

In [ ]:
print(int(True))
print(int(False))

In [ ]:
True + 19

In [ ]:
True + True - False + True * 3

In [ ]:
# 5 / False

print(type(True))

print(type(False))

In [ ]:
bool.__mro__

In [ ]:
wine_servings = Wine[Wine.notnull()]
wine_servings

In [ ]:
wine_servings.sum()

In [ ]:
wine_servings < 100

In [ ]:
wine_servings[wine_servings < 100].sum()

In [ ]:
wine_servings[wine_servings < 100] # showing labelled indexes having serve less than 100

## Dropping And Filling NAs using series.dropna( ) & series.fillna( )

In [ ]:
Wine.dropna()

In [ ]:
Wine

In [ ]:
Wine.fillna(100, inplace=False)

## Descriptive Statistics

In [ ]:
Wine.sum()

In [ ]:
print(Wine.count())
print(Wine.size)
print(len(Wine))

In [ ]:
Wine.sum() / Wine.count()

In [ ]:
Wine.mean()

In [ ]:
Wine.median()

In [ ]:
Wine.quantile(.5) # this Q2

In [ ]:
Wine.hist() # bin bucket is 10

In [ ]:
# IQR = Q3 - Q1
IQR = Wine.quantile(.75) - Wine.quantile(.25)
IQR

In [ ]:
Wine.max()

In [ ]:
Wine.min()

In [ ]:
Wine.std()

In [ ]:
Wine.var()

In [ ]:
Wine.std()**2 == Wine.var()

In [ ]:
Wine.describe()

In [ ]:
Wine.mode() # The value which have highest frequency of occurance

In [ ]:
len(Wine[Wine == 1])

In [ ]:
Wine[Wine == 1].value_counts()

In [ ]:
Wine[Wine == 1].size

In [ ]:
Wine.value_counts() # value wise frequencies

In [ ]:
print(Wine.unique())
print(len(Wine.unique()))
print(Wine.nunique())

In [ ]:
Wine.value_counts().iloc[0]

In [ ]:
Wine.value_counts(normalize=True) # value wise frequency %

## idxmax() And idxmin()

In [ ]:
Wine.max()

In [ ]:
Wine[Wine == Wine.max()]

In [ ]:
Wine[Wine == Wine.max()].index

In [ ]:
Wine[Wine == Wine.max()].keys()

In [ ]:
type(Wine[Wine == Wine.max()].index)

In [ ]:
Wine[Wine == Wine.max()].index[0]

In [ ]:
Wine.idxmax()

In [ ]:
Wine.idxmin()

In [ ]:
Wine.min()

In [ ]:
Wine.value_counts().head(1) # frequency of each unique value

In [ ]:
Wine[Wine == Wine.min()]

In [ ]:
Wine[Wine == Wine.max()]

In [ ]:
Wine[Wine.idxmax()]

In [ ]:
Wine.max()

In [ ]:
Wine[Wine == Wine.max()]

In [ ]:
Wine[Wine == Wine.min()]

In [ ]:
Wine[Wine == Wine.min()].keys()

In [ ]:
Wine[Wine == Wine.min()].index

## Sorting With sort_values()

In [ ]:
Wine.sort_values()

In [ ]:
Wine.sort_values(ascending=False, na_position='last', kind='quicksort', inplace=True) # mergesort, heapsort

In [ ]:
Wine.head()

## Series Arithmetics And fill_value( ) , adding new indexes & values to a series using series1.add(series2, fill_value=0)

* series1.substract(series2, fill_value=0)
* series1.divide(series2, fill_value=0)
* series1.multiply(series2, fill_value=1)
* series1.add(series2, fill_value=0)

In [ ]:
Wine + 2

In [ ]:
(Wine -10) * 2

In [ ]:
Wine.head()

In [ ]:
Wine.sort_index(inplace=True)

In [ ]:
Wine.head()

In [ ]:
more_drinks = series({'Albania': 6, 'Alberia': 19, 'Algeria': 10, 'Afghanistan': 100, 'Yemen': 101}) # 0D dict to 1D series
print(ndim(more_drinks))

In [ ]:
Wine + more_drinks

In [ ]:
Wine.add(more_drinks, fill_value=0)

In [ ]:
Wine - more_drinks

In [ ]:
Wine.subtract(more_drinks, fill_value=0)

In [ ]:
Wine.divide(more_drinks, fill_value=1)

In [ ]:
Wine.multiply(more_drinks, fill_value=1)

In [ ]:
Wine.head()

In [ ]:
more_drinks.head()

## BONUS: Calculating Variance And Standard Deviation

In [ ]:
Wine.var()

In [ ]:
(Wine.subtract(Wine.mean())**2).sum()/(Wine.count()-1)

In [ ]:
Wine.std()

In [ ]:
((Wine.subtract(Wine.mean())**2).sum()/(Wine.count()-1))**(1/2)

## Cumulative Operations

In [ ]:
Wine.sum()

In [ ]:
Wine.dropna().cumsum()

In [ ]:
from numpy import NaN
NaN + 123192380912

In [ ]:
from pandas import NA
NA + 12312

In [ ]:
print(NA)
print(NaN)

In [ ]:
Wine.prod()

In [ ]:
print(int(Wine.prod()))

In [ ]:
Wine.dropna().cumprod()

In [ ]:
Wine.cumprod()[-1] == Wine.prod()

In [ ]:
# cummin cummax

In [ ]:
Wine.min()

In [ ]:
Wine.cummin()

In [ ]:
Wine.max()

In [ ]:
Wine.cummax()

In [ ]:
Wine.head()

In [ ]:
series({'a':'v1', 'b':'v2', 'c':'v3'}) # 0D dict to 1D series

## Pairwise Differences With diff()

In [ ]:
Wine.dropna().head()

In [ ]:
Wine.dropna().diff().head()

In [ ]:
Wine.diff(periods=2).head()

## Series Iteration is like Dictionary iteration, we will use Series.items( ), Series.iteritems( ), Dict.items( )

In [ ]:
mini_alc = Wine[:10]

In [ ]:
mini_alc

In [ ]:
mini_alc = Wine.iloc[:10]
mini_alc

In [ ]:
for i in mini_alc:
    print(i)

In [ ]:
for i in mini_alc.values:
    print(i)

In [ ]:
for i in mini_alc.index:
    print(i)

In [ ]:
for i in mini_alc.index:
    print(mini_alc.loc[i])

In [ ]:
for i in mini_alc.index:
    print(i, mini_alc[i])

In [ ]:
for i in mini_alc.iteritems():
    print(i)

In [ ]:
for i in mini_alc.items():
    print(i)

In [ ]:
for i,j in mini_alc.items():
    print(i,j)

In [ ]:
Dick = {'kuchu':99, 'puchu':89, 'nochu':51}
for i,j in Dick.items():
    print(i,j)
    
    
for i in Dick.items():
    print(i)

## Filtering: Series.filter( ), Series.where( ), And Series.mask( ) for labelled indexes

In [ ]:
Wine.filter(regex='^V') # filter labelled indexes starts with letter 'V'
                        # regex is regular expressions

In [ ]:
Wine.filter(like='stan') # filter labelled indexes contains the word 'stan'

In [ ]:
Wine[Wine > 200]

In [ ]:
Wine.loc[Wine > 200]

In [ ]:
Wine.iloc[(Wine > 200).values]

In [ ]:
Wine.iloc[list(Wine > 200)]

In [ ]:
def gt200(x):
    return x > 200

In [ ]:
Wine[gt200]

## the where() method

In [ ]:
Wine.where(lambda x: x>200).dropna()

In [ ]:
Wine.where(lambda x: x<=200).dropna()

## the mask() method

In [ ]:
Wine.mask(lambda x: x>200).dropna()

## Transforming With Series1.update(Series2), Series.apply() And Series.map()
* similar like Dict1.update.(Dict2)

In [ ]:
Wine.head(10)

In [ ]:
# spot v global transforms

In [ ]:
Wine.loc['Algeria'] = 19 # change the value of labelled index 'Algeria'

In [ ]:
Wine.head(10)

In [ ]:
Wine.loc['Albania'] = 190
Wine.loc['Afghanistan'] = 20
Wine.loc['Andorra'] = 29

In [ ]:
Wine.head(10)

In [ ]:
# the update() method

In [ ]:
employee_salaries = {
    "Guido": 100000,
    "James": 500000,
    "Brandon": 900000
}

extra_employee_salaries = {
    "Yukihiro": 1000000,
    "Guido": [333333, 45000]
}

employee_salaries.update(extra_employee_salaries)
extra_employee_salaries.update(employee_salaries)

print(employee_salaries)
print(extra_employee_salaries)

In [ ]:
Wine.update(series(data=[200, 20], index=['Albania', 'Algeria']))

In [ ]:
Wine.head(10)

In [ ]:
# the apply() method

In [ ]:
Wine.map(lambda x: x**2)

Wine.map(numpy.square)

In [ ]:
def multiply_by_self(x):
    return x*x

In [ ]:
Wine.apply(multiply_by_self)

In [ ]:
def multiply_by_self_with_min(x, min_servings):
    if x < min_servings:
        return x**2
    return x

In [ ]:
# Wine.map(multiply_by_self_with_min, args=(200,))

In [ ]:
Wine.head()

In [ ]:
Wine.apply(multiply_by_self_with_min, min_servings=200)

In [ ]:
# the map() method

In [ ]:
#### Skill Challenge

In [ ]:
###### **1**.

Read the drinks.csv dataset again, this time bringing in the beer_servings sequence into a new <ins>series</ins> with country again acting as the index. Assign this series to the variable *beers*.

Link to data: https://andybek.com/pandas-drinks

In [ ]:
###### **2**.

Calculate the mean, median, and standard deviation of beer servings in *beers*. Is the distribution right or left skewed?

In [ ]:
###### **3**.

Slice the first 10 countriees from *beers*. Are these relatively large or small relative to the rest of the sample?

**BONUS**: To answer that, we could compare each value to the mean or median. An even
better approach would be to calculate standard scores, or z-scores as they 
are known.

In [ ]:
###### **BONUS 4**.

Create a new series that uses series arithmetics to calculate the z-score 
for each serving by subtracting from each the mean and dividing the difference
by the standard deviation. Point the variable *z_scores* to this series.

Which country has the largest absolute z-score? Is this a positive or negative deviation?

In [ ]:
#### Solution I - Reading Data

data_url = 'https://andybek.com/pandas-drinks'

beers = read_csv(data_url, usecols=['country', 'beer_servings'], index_col='country', squeeze=True)

beers.head()

In [ ]:
type(beers)

In [ ]:
#### Solution II - Mean, Median, And Standard Deviation

In [ ]:
beers.mean()

In [ ]:
beers.median()

In [ ]:
beers.quantile(.5)

In [ ]:
beers.std()

In [ ]:
beers.var()**(1/2)

In [ ]:
from numpy import sqrt
sqrt(beers.var())

In [ ]:
beers.hist();

In [ ]:
beers.describe()

In [ ]:
#### Solution III - Z-scores

In [ ]:
print(type(beers))

In [ ]:
beers[:10]

In [ ]:
beers.iloc[:10]

In [ ]:
beers.loc[:beers.index[9]]

In [ ]:
# beers.head(10)

In [ ]:
beers.mean()

In [ ]:
beers[:10] - beers.mean()

In [ ]:
(beers[:10] - beers.mean()).apply(lambda x: 'low' if x<0 else 'high')

In [ ]:
(beers - beers.mean()).apply(lambda x: 'low' if x<0 else 'high').value_counts()

In [ ]:
z_scores = (beers - beers.mean())/beers.std()

In [ ]:
z_scores.head(10)

In [ ]:
z_scores.min()

In [ ]:
z_scores.max()

In [ ]:
z_scores.abs().max()

In [ ]:
beers.idxmax()

In [ ]:
beers['Namibia']

In [ ]:
beers[beers.idxmax()]

In [ ]:
z_scores.abs().max() * beers.std() + beers.mean()

In [ ]:
DF = read_csv('tips.csv')
DF

----
About this DataSet (in case you are interested)

* Description
    * One waiter recorded information about each tip he received over a period of a few months working in one restaurant. He collected several variables:

* Format
    * A data frame with 244 rows and 7 variables

* Details
    * tip in dollars,
    * bill in dollars,
    * sex of the bill payer,
    * whether there were smokers in the party,
    * day of the week,
    * time of day,
    * size of the party.

In all he recorded 244 tips. The data was reported in a collection of case studies for business statistics (Bryant & Smith 1995).

* References
    * Bryant, P. G. and Smith, M (1995) Practical Data Analysis: Case Studies in Business Statistics. Homewood, IL: Richard D. Irwin Publishing:
    
* Note: We created some additional columns with Fake data, including Name, CC Number, and Payment ID.

----

In [ ]:
print(type(DF))
print(DF.dtypes)
print(ndim(DF))
print(size(DF))
print(len(DF))
print(shape(DF))

# DataFrames(data=[], index=[], columns=[])

## Obtaining Basic Information About DataFrame

In [ ]:
print(DF.columns) # columns is attribute

In [ ]:
print(DF.index) # index is attribute

In [ ]:
DF.head() # first 5 rows by default

In [ ]:
DF.head(10) # first 10 rows

In [ ]:
print(DF.info())

In [ ]:
DF.describe() # statistical briefs

In [ ]:
DF.describe().T # transpose the result

## Selection and Indexing

Let's learn how to retrieve information from a DataFrame.

## COLUMNS

We will begin be learning how to extract information based on the columns

## Grab a Single Column

In [ ]:
# showing "total_bill" column
print(DF["total_bill"])

In [ ]:
# showing "total_bill" column
DF[["total_bill"]]

## Grab Multiple Columns using columns list [ ]

In [ ]:
colindexes = ["total_bill", "tip"]
DF[colindexes]

In [ ]:
DF[["total_bill", "tip"]]

In [ ]:
DF["Tip_%"] = 100 * (DF["tip"] / DF["total_bill"]) # creating new column "Tip_%"
DF[["Tip_%"]]

In [ ]:
print(type(DF[["Tip_%"]]))

In [ ]:
DF.head()

## Create New Columns

In [ ]:
DF['price_per_person'] = DF['total_bill'] / DF['size'] # Just overwrites existing column
DF.head()

## Adjust Existing Columns by rounding off decimals round()

In [ ]:
from numpy import round
DF['price_per_person'] = round(DF['total_bill'] / DF['size'], 2) # Just overwrites existing column
DF.head()

## Remove Columns
* axis = 1 or 0
* inplace = True or False

In [ ]:
DF.drop(["Tip_%","price_per_person"], axis=1) # This is temporary drop of columns

In [ ]:
DF.index

In [ ]:
DF.columns

In [ ]:
DF.keys()

In [ ]:
DF.values

In [ ]:
# We are checking Numpy Array or Pandas DataFrame shape

print(DF.shape[0]) # Rows
print(DF.shape[1]) # Columns

# Row & Column Indexes of a DataFrame

Before going over the same retrieval tasks for rows, let's build some basic understanding of the pandas DataFrame Index.

In [ ]:
DF = read_csv("tips.csv")

In [ ]:
print(DF.index)
print()
print(DF.columns)

In [ ]:
DF = DF.set_index("Payment ID") # setting user defined row index
DF.head()

In [ ]:
DF.index

In [ ]:
DF.columns

In [ ]:
DF.keys()

## Grab a Single Row from the DataFrame

In [ ]:
DF.iloc[0] # default Row index location

In [ ]:
DF.iloc[[0]] # default Row index location

In [ ]:
DF[0:1]

In [ ]:
DF[ :'Sun2959']

In [ ]:
DF['Sun2959':'Sun4608']

In [ ]:
DF.loc["Sun2959"] # user defined Row index location

In [ ]:
DF.loc[["Sun2959"]] # user defined Row index location

## Grab Multiple Rows using row index list [ ]

In [ ]:
DF.iloc[[0,1,2,3,4]] # Row indexes location as a list

In [ ]:
DF.iloc[0:5] # Row indexes location as a list

In [ ]:
DF[0:5]

In [ ]:
DF['Sun2959':'Sun2251']

In [ ]:
DF.loc['Sun2959':'Sun2251']

In [ ]:
# DataFrame.loc[:,:] user defined Rows indexes first & then Column indexes
# 0th Rows index and all Columns
# row 0, all columns
# .loc always includes Range upper boundary
DF.loc[['Sun2959','Sun5260','Sun4608','Sun4458','Sun2251'], :] # user defined Row indexes location as a list

In [ ]:
# DataFrame.iloc[:,:] Rows indexes first & then Column indexes
DF.iloc[0:5]# Row index location range from 0 to 5

In [ ]:
DF.loc["Sun2959":"Sun3775"] # user defined Row index location range from Sun2959 to Sun3775

## Drop Single Row & Multiple Row using either default Row index or user defined Row index

Typically are datasets will be large enough that we won't remove rows like this since we won't know thier row location for some specific condition, instead, we drop rows based on conditions such as missing data or column values. The next lecture will cover this in a lot more detail.

DF = DF.reset_index() while Dropping Single Row & Multiple Rows using default Row index

In [ ]:
DF = DF.reset_index()

In [ ]:
DF.drop([0,1,2,3,4], axis=0) # drop first 5 rows temporary using default row index list

In [ ]:
DF.drop(index=[0,1,2,3,4]) # drop first 5 rows temporary using default row index list

In [ ]:
DF.drop(range(0,5), axis=0) # drop first 5 rows temporary using range from 0 to 5

DF = DF.set_index("Payment ID") while Dropping Single Row & Multiple Rows using user defined Row index

In [ ]:
DF = DF.set_index("Payment ID")

In [ ]:
DF.drop(['Sun2959','Sun5260','Sun4608','Sun4458','Sun2251'], axis=0) # drop first 5 rows temporary using user defined row index list

In [ ]:
DF.drop(index=['Sun2959','Sun5260','Sun4608','Sun4458','Sun2251']) # drop first 5 rows temporary using default row index list

In [ ]:
DF.loc[DF['price_per_person'] > 6]

DF.loc[list(DF['price_per_person'] > 6)]

DF.loc[(DF['price_per_person'] > 6).values]

# DF.loc[(DF['price_per_person'] > 6).keys()]

In [ ]:
DF[DF['price_per_person'] > 6]

DF[list(DF['price_per_person'] > 6)]

DF[(DF['price_per_person'] > 6).values]

In [ ]:
# DF.iloc[DF['price_per_person'] > 6]

DF.iloc[list(DF['price_per_person'] > 6)]

DF.iloc[(DF['price_per_person'] > 6).values]

In [ ]:
Row0 = DF.iloc[[0]]
Row0

In [ ]:
Row0 = DF.loc[['Sun2959']]
Row0

In [ ]:
Row0 = DF[:'Sun2959']
Row0

# Conditional Filtering for DataFrame

In [ ]:
Tips = read_csv('tips.csv')

In [ ]:
Tips.head()

In [ ]:
Tips.iloc[[0]]

## Conditions

In [ ]:
bool_series = Tips['total_bill'] > 30
bool_series

In [ ]:
Tips[bool_series]

Tips[bool_series.values]

Tips[list(bool_series)]

Tips[Tips['total_bill'] > 30]

In [ ]:
Tips[Tips['size'] > 3]

Tips[list(Tips['size'] > 3)]

Tips[(Tips['size'] > 3).values]

In [ ]:
Tips.loc[Tips['size'] > 3]

Tips.loc[list(Tips['size'] > 3)]

Tips.loc[(Tips['size'] > 3).values]

In [ ]:
#Tips.iloc[Tips['size'] > 3]

Tips.iloc[list(Tips['size'] > 3)]

Tips.iloc[(Tips['size'] > 3).values]

In [ ]:
Tips[Tips['sex'] == "Male"]

Tips[list(Tips['sex'] == "Male")]

Tips[(Tips['sex'] == "Male").values]

In [ ]:
Tips.loc[Tips['total_bill'] > 30]

Tips.loc[list(Tips['total_bill'] > 30)]

Tips.loc[(Tips['total_bill'] > 30).values]

In [ ]:
Tips.loc[Tips['sex'] == "Male"]

Tips.loc[list(Tips['sex'] == "Male")]

Tips.loc[(Tips['sex'] == "Male").values]

## Multiple Conditions

Recall the steps:

* Get the conditions
* Wrap each condition in parenthesis
* Use the | or & operator, depending if you want an 
    * OR | (either condition is True)
    * AND & (both conditions must be True)
* You can also use the ~ operator as a NOT operation

In [ ]:
Tips[(Tips['total_bill'] > 30) & (Tips['sex']=='Male')] # boolean condition intersection

Tips[list((Tips['total_bill'] > 30) & (Tips['sex']=='Male'))]

Tips[((Tips['total_bill'] > 30) & (Tips['sex']=='Male')).values]

In [ ]:
Tips.loc[(Tips['total_bill'] > 30) & (Tips['sex']=='Male')] # boolean condition intersection

Tips.loc[list((Tips['total_bill'] > 30) & (Tips['sex']=='Male'))]

Tips.loc[((Tips['total_bill'] > 30) & (Tips['sex']=='Male')).values]

In [ ]:
Tips[(Tips['total_bill'] > 30) | (Tips['sex']=='Male')] # boolean condition union

Tips[list((Tips['total_bill'] > 30) | (Tips['sex']=='Male'))]

Tips[((Tips['total_bill'] > 30) | (Tips['sex']=='Male')).values]

In [ ]:
Tips.loc[(Tips['total_bill'] > 30) | (Tips['sex']=='Male')] # boolean condition union

Tips.loc[list((Tips['total_bill'] > 30) | (Tips['sex']=='Male'))]

Tips.loc[((Tips['total_bill'] > 30) | (Tips['sex']=='Male')).values]

In [ ]:
# Tips.iloc[(Tips['total_bill'] > 30) | (Tips['sex']=='Male')] # boolean condition union

Tips.iloc[list((Tips['total_bill'] > 30) | (Tips['sex']=='Male'))]

Tips.iloc[((Tips['total_bill'] > 30) | (Tips['sex']=='Male')).values]

In [ ]:
Tips[(Tips['total_bill'] > 30) & ~(Tips['sex']=='Male')]

Tips[list((Tips['total_bill'] > 30) & ~(Tips['sex']=='Male'))]

Tips[((Tips['total_bill'] > 30) & ~(Tips['sex']=='Male')).values]

In [ ]:
Tips.loc[(Tips['total_bill'] > 30) & ~(Tips['sex']=='Male')]

Tips.loc[list((Tips['total_bill'] > 30) & ~(Tips['sex']=='Male'))]

Tips.loc[((Tips['total_bill'] > 30) & ~(Tips['sex']=='Male')).values]

# Tips.loc[((Tips['total_bill'] > 30) & ~(Tips['sex']=='Male')).keys]

In [ ]:
Tips.iloc[list((Tips['total_bill'] > 30) & ~(Tips['sex']=='Male'))]

Tips.iloc[((Tips['total_bill'] > 30) & ~(Tips['sex']=='Male')).values]

## Filtering using Conditional Operator isin()

We can use .isin() operator to filter by a list of options.

In [ ]:
Tips["day"].isin(["Sat", "Sun"])

In [ ]:
Tips[Tips["day"].isin(["Sat", "Sun"])]

Tips[list(Tips["day"].isin(["Sat", "Sun"]))]

Tips[(Tips["day"].isin(["Sat", "Sun"])).values]

In [ ]:
Tips.loc[Tips["day"].isin(["Sat", "Sun"])]

Tips.loc[list(Tips["day"].isin(["Sat", "Sun"]))]

Tips.loc[(Tips["day"].isin(["Sat", "Sun"])).values]

In [ ]:
# Tips.iloc[Tips["day"].isin(["Sat", "Sun"])]

Tips.iloc[list(Tips["day"].isin(["Sat", "Sun"]))]

Tips.iloc[(Tips["day"].isin(["Sat", "Sun"])).values]

# Useful Methods

Let's cover some useful methods and functions built in to pandas. This is actually just a small sampling of the functions and methods available in Pandas, but they are some of the most commonly used.
The [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/index.html) is a great resource to continue exploring more methods and functions (we will introduce more further along in the course).
Here is a list of functions and methods we'll cover here (click on one to jump to that section in this notebook.):

* [apply() method](#apply_method)
* [apply() with a function](#apply_function)
* [apply() with a lambda expression](#apply_lambda)
* [apply() on multiple columns](#apply_multiple)
* [describe()](#describe)
* [sort_values()](#sort)
* [corr()](#corr)
* [idxmin and idxmax](#idx)
* [value_counts](#v_c)
* [replace](#replace)
* [unique and nunique](#uni)
* [map](#map)
* [duplicated and drop_duplicates](#dup)
* [between](#bet)
* [sample](#sample)
* [nlargest](#n)

Make sure to view the video lessons to get the full explanation!

<a id='apply_method'></a>

## The .apply() method

Here we will learn about a very useful method known as **apply** on a DataFrame. This allows us to apply and broadcast custom functions on a DataFrame column

<a id='apply_function'></a>
## apply with a function

In [ ]:
def last_four(num: float):
    return str(int(num))[-4:]

In [ ]:
Tips[['CC Number']]

In [ ]:
Tips[['CC Number']][0:]

In [ ]:
Tips['CC Number'].apply(last_four)

In [ ]:
Tips['last_four'] = Tips['CC Number'].apply(last_four)
Tips.head()

## Using .apply() with more complex functions

In [ ]:
def pricy(price: float):
    if price < 10:
        return "$"
    elif 30 > price >= 10:
        return "$$"
    return "$$$"

Tips['Pricy'] = Tips['total_bill'].apply(pricy)
Tips.head(15)

Tips[Tips['Pricy'] == "$$$"].head(12)

Tips[list(Tips['Pricy'] == "$$$")].head(12)

Tips[(Tips['Pricy'] == "$$$").values].head(12)

Tips.loc[Tips['Pricy'] == "$$$"].head(12)

Tips.loc[list(Tips['Pricy'] == "$$$")].head(12)

Tips.loc[(Tips['Pricy'] == "$$$").values].head(12)

Tips.iloc[list(Tips['Pricy'] == "$$$")].head(12)

Tips.iloc[(Tips['Pricy'] == "$$$").values].head(12)

<a id='apply_lambda'></a>
## apply with lambda function

In [ ]:
def simple(num):
    return num*2

In [ ]:
lambda num: num*2

In [ ]:
Tips[['total_bill']].apply(lambda total_bill: total_bill*0.18)

In [ ]:
Tips.head()

<a id='apply_multiple'></a>
## apply that uses multiple columns for filtering

Note, there are several ways to do this:

https://stackoverflow.com/questions/19914937/applying-function-with-multiple-arguments-to-create-a-new-pandas-column

In [ ]:
def quality(total_bill: float, tip: float):
    if (tip/total_bill)*100  > 25:
        return "Generous"
    return "Other"

Tips["Tip_%"] = Tips[['total_bill','tip']].apply(lambda Tips: quality(Tips['total_bill'], Tips['tip']), axis=1)
Tips.head()

In [ ]:
from numpy import vectorize
Tips["Tip_%"] = vectorize(quality)(Tips['total_bill'], Tips['tip'])
Tips.head()

<a id='describe'></a>
### DataFrame.describe() for statistical summaries
Only for numeric columns

In [ ]:
Tips.describe()

In [ ]:
Tips.describe().transpose()

In [ ]:
Tips.describe().T

<a id='sort'></a>
### DataFrame.sort_values("Column")

In [ ]:
Tips.sort_values('tip')

In [ ]:
Tips.sort_values(["total_bill", "tip"])

<a id='idx'></a>
### idxmin and idxmax

In [ ]:
Tips["total_bill"].max()

In [ ]:
Tips["total_bill"].idxmax()

In [ ]:
Tips.iloc[[170]]

In [ ]:
Tips[170:171]

In [ ]:
Tips.iloc[[Tips["total_bill"].idxmin()]]

<a id='corr'></a>
## df.corr( ) for correlation checks

[Wikipedia on Correlation](https://en.wikipedia.org/wiki/Correlation_and_dependence)

In [ ]:
Tips.corr() # between only numeric columns

In [ ]:
Tips[['total_bill','tip']].corr()

In [ ]:
Tips['total_bill'].max()

In [ ]:
Tips['total_bill'].idxmax()

In [ ]:
Tips['total_bill'].idxmin()

In [ ]:
Tips.iloc[[67]]

In [ ]:
Tips.iloc[[170]]

In [ ]:
Tips[170:171]

<a id='v_c'></a>
### DataFrame["Column"].value_counts() or frequency count

Nice method to quickly get a count per category. Only makes sense on categorical columns.

In [ ]:
Tips['sex'].value_counts()

<a id='uni'></a>
### unique

In [ ]:
Tips['sex'].unique()

In [ ]:
Tips['sex'].nunique()

In [ ]:
len(Tips['sex'].unique())

<a id='replace'></a>

### .replace( to_replace=val1, value=val2)

Quickly replace values with another one.

In [ ]:
Tips[['Tip_%']].replace(to_replace='Other', value='Ok')

In [ ]:
Tips[['sex']].replace(to_replace=["Female", "Male"], value=["F", "M"])

<a id='map'></a>
### .map( )

In [ ]:
my_map = {'Dinner':'D','Lunch':'L'}

In [ ]:
Tips["time"].map(my_map)

<a id='dup'></a>
## Duplicates

### .duplicated( ) and .drop_duplicates( )

In [ ]:
# Returns True for the 1st instance of a duplicated row
Tips.duplicated()

In [ ]:
print(type(Tips))

In [ ]:
Tips.duplicated().isin([True])

In [ ]:
# shows only that rows & row indexes which have duplicate rows
Tips[Tips.duplicated().isin([True])]

Tips[list(Tips.duplicated().isin([True]))]

Tips[(Tips.duplicated().isin([True])).values]

Tips.loc[Tips.duplicated().isin([True])]

Tips.loc[list(Tips.duplicated().isin([True]))]

Tips.loc[(Tips.duplicated().isin([True])).values]

Tips.iloc[list(Tips.duplicated().isin([True]))]

Tips.iloc[(Tips.duplicated().isin([True])).values]

In [ ]:
# shows only that rows & row indexes which don't have duplicate rows
Tips[Tips.duplicated().isin([False])]

Tips[list(Tips.duplicated().isin([False]))]

Tips[(Tips.duplicated().isin([False])).values]

Tips.loc[Tips.duplicated().isin([False])]

Tips.loc[list(Tips.duplicated().isin([False]))]

Tips.loc[(Tips.duplicated().isin([False])).values]

Tips.iloc[list(Tips.duplicated().isin([False]))]

Tips.iloc[(Tips.duplicated().isin([False])).values]

In [ ]:
simple_df = DataFrame(data=[1,2,2], index=['a','b','c']) # creating DataFrame having duplicate rows

In [ ]:
simple_df

In [ ]:
simple_df.duplicated() # shows duplicate rows

In [ ]:
# shows only that rows & row indexes which have duplicate rows
# shows only that rows & row indexes which have duplicate rows
simple_df[simple_df.duplicated().isin([True])]

simple_df[list(simple_df.duplicated().isin([True]))]

simple_df[(simple_df.duplicated().isin([True])).values]

simple_df.loc[simple_df.duplicated().isin([True])]

simple_df.loc[list(simple_df.duplicated().isin([True]))]

simple_df.loc[(simple_df.duplicated().isin([True])).values]

simple_df.iloc[list(simple_df.duplicated().isin([True]))]

simple_df.iloc[(simple_df.duplicated().isin([True])).values]

In [ ]:
# shows only that rows & row indexes which don't have duplicate rows
simple_df[simple_df.duplicated().isin([False])]

simple_df[list(simple_df.duplicated().isin([False]))]

simple_df[(simple_df.duplicated().isin([False])).values]

simple_df.loc[simple_df.duplicated().isin([False])]

simple_df.loc[list(simple_df.duplicated().isin([False]))]

simple_df.loc[(simple_df.duplicated().isin([False])).values]

simple_df.iloc[list(simple_df.duplicated().isin([False]))]

simple_df.iloc[(simple_df.duplicated().isin([False])).values]

In [ ]:
simple_df.drop_duplicates() # temporary drop duplicate rows

<a id='bet'></a>
## .between( )

left: A scalar value that defines the left boundary
right: A scalar value that defines the right boundary
inclusive: A Boolean value which is True by default. If False, it excludes the two passed arguments while checking.

In [ ]:
# Tips['total_bill'].between(10, 20, inclusive=True)  # This one has been deprecated
Tips['total_bill'].between(10, 20, inclusive="both")

In [ ]:
# Tips[Tips['total_bill'].between(10, 20, inclusive=True)] # This one has been deprecated
Tips[Tips['total_bill'].between(10, 20, inclusive="both")]

<a id='sample'></a>
## .sample()

In [ ]:
Tips.sample(5) # random sampling of 5 rows

In [ ]:
Tips.sample(frac=0.1) # random sampling of 10 % rows

In [ ]:
shape(Tips.sample(frac=0.1))

<a id='n'></a>
## nlargest and nsmallest

In [ ]:
Tips.nlargest(10,'tip')

In [ ]:
Tips.nsmallest(10,'tip')

In [ ]:
Tips["tip"].sort_values(ascending=False).head(10)

In [ ]:
Tips["tip"].sort_values(ascending=True).head(10)

In [ ]:
Tips.sort_values("tip", ascending=False).head(10)

In [ ]:
Tips.sort_values("tip", ascending=True).head(10)

In [ ]:
Tips.sort_values("tip", ascending=True).iloc[0:11]

Tips.sort_values("tip", ascending=True)[0:11]

In [ ]:
Tips.sort_values("tip", ascending=False).iloc[0:11]

Tips.sort_values("tip", ascending=False)[0:11]

In [ ]:
Tips.sort_values("tip", ascending=True).iloc[0:]

Tips.sort_values("tip", ascending=True)[0:]

In [ ]:
Tips.sort_values("tip", ascending=False).iloc[0:]

Tips.sort_values("tip", ascending=False)[0:]

# Missing Data (Keep, Replace or Drop)

Make sure to review the video for a full discussion on the strategies of dealing with missing data.

--------


## What Null/NA/nan objects look like:

Source: https://github.com/pandas-dev/pandas/issues/28095

A new pd.NA value (singleton) is introduced to represent scalar missing values. Up to now, pandas used several values to represent missing data: np.nan is used for this for float data, np.nan or None for object-dtype data and pd.NaT for datetime-like data. The goal of pd.NA is to provide a missing indicator that can be used consistently across data types. pd.NA is currently used by the nullable integer and boolean data types and the new string data type

----
------
## Note! Typical comparisons should be avoided with Missing Values

* https://towardsdatascience.com/navigating-the-hell-of-nans-in-python-71b12558895b
* https://stackoverflow.com/questions/20320022/why-in-numpy-nan-nan-is-false-while-nan-in-nan-is-true

This is generally because the logic here is, since we don't know these values, we can't know if they are equal to each other.

In [ ]:
from numpy import nan
from pandas import NaT, NA, read_csv

## Data

People were asked to score their opinions of actors from a 1-10 scale before and after watching one of their movies. However, some data is missing.

In [ ]:
Movie = read_csv('movie_scores.csv')

In [ ]:
Movie

## Checking and Selecting for Null Values

In [ ]:
Movie.info()

In [ ]:
Movie.isnull()

Movie.isna()

# isnan(Movie)

In [ ]:
# tells us about the cells having NaNb
Movie[Movie.isnull().isin([True, False])]

In [ ]:
# tells us about the cells having NaN
Movie[Movie.notnull().isin([True, False])]

In [ ]:
Movie.notnull()
Movie.notna()

In [ ]:
Movie[['first_name']]

In [ ]:
Movie[Movie['first_name'].notnull()]

In [ ]:
Movie[Movie['first_name'].isnull()]

In [ ]:
Movie[(Movie['pre_movie_score'].isnull()) & (Movie['first_name'].notnull())]

In [ ]:
Movie[(Movie['pre_movie_score'].isnull()) & Movie['sex'].notnull()]

## Drop Data

In [ ]:
help(Movie.dropna)

In [ ]:
Movie.dropna(axis=0) # drop rows having at least 1 NaN/None value, temporary drop
Movie.dropna(how='any', axis=0)
Movie.dropna(axis=0, thresh=1)

In [ ]:
# drop rows having all NaN/None values, temporary drop
Movie.dropna(how='all', axis=0)

In [ ]:
Movie.dropna(how='any', axis=1) # drop columns having at least 1 NaN/None value, temporary drop

In [ ]:
# drop those rows only having "sex" column NaN
Movie.dropna(subset=["sex"])
Movie.dropna(axis=0, how='any', subset=['sex'])

In [ ]:
Movie.dropna(axis=0, how='any', subset=['age'])

In [ ]:
Movie.dropna(subset=Movie.columns)

In [ ]:
Movie.dropna(subset=list(Movie.columns))

In [ ]:
Movie.dropna(subset=['first_name', 'last_name', 'age', 'sex', 'pre_movie_score', 'post_movie_score'])

In [ ]:
Movie.dropna(axis=1, how='any', subset=[0, 1, 2, 3, 4])

In [ ]:
Movie.dropna()

In [ ]:
print(type(Movie.columns))

In [ ]:
Movie.columns

In [ ]:
print(Movie.columns)

In [ ]:
print(Movie.index)

In [ ]:
print(type(list(Movie.columns)))

## Fill Data

In [ ]:
Movie

In [ ]:
Movie.fillna("BLANK")

In [ ]:
Movie[['first_name']].fillna("BLANK_NAME")

In [ ]:
Movie[["pre_movie_score"]].fillna(Movie["pre_movie_score"].mean())

In [ ]:
Movie[['first_name']].fillna("BAD_NAME")

In [ ]:
Movie.pre_movie_score.fillna(Movie.pre_movie_score.mean())

In [ ]:
Movie.fillna(Movie.mean(numeric_only=True))

## Filling with Interpolation

Be careful with this technique, you should try to really understand whether or not this is a valid choice for your data. You should also note there are several methods available, the default is a linear method.

Full Docs on this Method:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.interpolate.html

In [ ]:
airline_tix = {"first":100, "business":nan, "economy_plus":50, "economy":30}
ser = series(airline_tix)
ser

In [ ]:
ser.interpolate()

In [ ]:
dser = DataFrame(data=ser, index=ser.keys())
dser

In [ ]:
dser = DataFrame(data=airline_tix.values(), index=airline_tix.keys())
dser

# Groupby Operations and Multi-level Index in Pandas DataFrame

In [ ]:
car = read_csv('mpg.csv')
print(type(car))
print(ndim(car))
print(size(car))
print(len(car))
print(shape(car))

In [ ]:
car

## groupby() method

In [ ]:
# Creates a groupby object waiting for an aggregate method
# grouping of year in the dataframe
car.groupby('model_year')

In [ ]:
# model_year becomes the index! It is NOT a column name,it is now the name of the index
# year wise grouping has been done then mean() has been performed upon all numeric columns
car.groupby('model_year').mean() # apply groupby on 'model_year' column & apply maen() on all other numeric columns

In [ ]:
# year wise grouping has been done then mean() has been performed upon 'mpg' column
car.groupby('model_year').mean()[['mpg']]

In [ ]:
car_mean = car.groupby('model_year').mean()
car_mean

In [ ]:
car_mean.index

In [ ]:
car_mean.columns # only numeric columns

In [ ]:
car_mean[['mpg']] # showing mean of 'mpg' column for year wise grouping

In [ ]:
car.groupby('model_year').mean()[['mpg']]

In [ ]:
car.groupby('model_year').describe()

In [ ]:
car.groupby('model_year').describe().transpose()

In [ ]:
car.groupby('model_year').describe().T

## Groupby Multiple Columns
Let's explore average mpg per year per cylinder count

In [ ]:
car.groupby(['model_year','cylinders']).mean()

In [ ]:
car.groupby(['model_year','cylinders']).mean().index

In [ ]:
# We get column indexes as columns using .columns
car.groupby(['model_year','cylinders']).mean().columns

In [ ]:
# We get column indexes as columns using keys() 
car.groupby(['model_year','cylinders']).mean().keys()

In [ ]:
# car.groupby(['model_year','cylinders']).mean().keys()

In [ ]:
car.groupby(['model_year','cylinders']).mean()[['acceleration']]

In [ ]:
# We get column indexes as columns using .keys()
car.groupby(['model_year','cylinders']).mean()[['acceleration']].keys()

In [ ]:
# We get column indexes as columns using .columns
car.groupby(['model_year','cylinders']).mean()[['acceleration']].columns

In [ ]:
car.groupby(['model_year','cylinders']).mean()[['acceleration']].index

In [ ]:
car.groupby(['model_year','cylinders']).mean()[['acceleration']].values

# MultiIndex ( multi index created by groupby() function )

## The MultiIndex Object, Outer groupby() index & inner groupby() index

In [ ]:
year_cyl = car.groupby(['model_year','cylinders']).mean()
year_cyl

In [ ]:
year_cyl.index

In [ ]:
year_cyl.columns

In [ ]:
year_cyl.index.names

In [ ]:
year_cyl.index.levels

# Indexing with the Hierarchical Index

Full Documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [ ]:
year_cyl.head(10)

## Grab Based on Most Outside iloc[ ] index

In [ ]:
year_cyl.iloc[[0,1,2,3,4,5]]

## Grab, Based on groupby created Outer index

In [ ]:
year_cyl.loc[[70, 71]]

## Grab a Single Row by combining groupby created Outer & inner index

In [ ]:
year_cyl.loc[[[70,4], [70,6], [70,8], [71,4], [71,6], [71,8]]]

In [ ]:
year_cyl.loc[[[70,4], [70,8], [71,6], [71,8]]]

In [ ]:
year_cyl.loc[[[70,4], [70,8], [71,6], [71,8]], ['mpg','displacement','weight','acceleration','origin']]

In [ ]:
year_cyl.loc[[[70,4]], ['mpg','displacement','weight','acceleration','origin']]

In [ ]:
year_cyl.loc[[70,71], ['mpg','displacement','weight','acceleration','origin']]

# Grab Based on Cross-section with .xs()

This method takes a `key` argument to select data at a particular
level of a MultiIndex.

Parameters
----------
    key : label or tuple of label
        Label contained in the index, or partially in a MultiIndex.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to retrieve cross-section on.
    level : object, defaults to first n levels (n=1 or len(key))
        In case of a key partially contained in a MultiIndex, indicate
        which levels are used. Levels can be referred by label or position.

In [ ]:
# filtering only 'model_year' 70
year_cyl.xs(level='model_year', key=70, axis=0)

In [ ]:
# filtering only cylinders 4
year_cyl.loc[[[70,4], [71,4], [72,4], [73,4], [74,4], [75,4], [76,4],
             [77,4], [78,4], [79,4], [80,4], [81,4], [82,4]], ['mpg','displacement','weight','acceleration','origin']]

In [ ]:
# Mean column values for 4 cylinders per year
year_cyl.xs(level='cylinders', key=4, axis=0)

## Careful note!

Keep in mind, its usually much easier to filter out values **before** running a groupby() call, so you should attempt to filter out any values/categories you don't want to use. For example, its much easier to remove **4** cylinder cars before the groupby() call, very difficult to this sort of thing after a group by.

In [ ]:
car[car['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean()

## Swap Levels

* Swapping Levels: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#swapping-levels-with-swaplevel
* Generalized Method is reorder_levels: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#reordering-levels-with-reorder-levels

In [ ]:
year_cyl.swaplevel().head()

## Sorting MultiIndex

* https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#sorting-a-multiindex

In [ ]:
year_cyl.sort_index(level='model_year',ascending=False)

In [ ]:
year_cyl.sort_index(level='cylinders',ascending=False)

# Advanced: agg() method

The agg() method allows you to customize what aggregate functions you want per category

In [ ]:
car.agg(['std', 'mean'])

In [ ]:
car.agg(['std', 'mean'])[['mpg','cylinders']]

## Specify aggregate methods per column

**agg()** is very powerful,allowing you to pass in a dictionary where the keys are the columns and the values are a list of aggregate methods.

In [ ]:
car.agg({'mpg':['median','mean'],'weight':['mean','std']})

## agg() with groupby()

In [ ]:
car.groupby('model_year').agg({'mpg':['median','mean'],'weight':['mean','std']})

# Combining DataFrames

## Full Official Guide (Lots of examples!)

### https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

-------
-------

## Concatenation

Directly  "glue" together dataframes.

In [ ]:
dic1 = {'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3']}

dic2 = {'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}

In [ ]:
one = DataFrame(dic1) # converting 0D dict1 into 2D DataFrame
s1 = series(dic1) # converting 0D dict1 into 1D series
A1 = array(dic1) # converting 0D dict1 into 0D array
print(ndim(one))
print(ndim(s1))
print(ndim(A1))
two = DataFrame(dic2) # converting 0D dict2 into 2D DataFrame
s2 = series(dic2) # converting 0D dict1 into 1D series
A2 = array(dic2) # converting 0D dict1 into 0D array
print(ndim(two))
print(ndim(s2))
print(ndim(A2))

In [ ]:
one

In [ ]:
two

## Axis = 1

### Concatenate along columns

In [ ]:
from pandas import concat
concat([one, two], axis=1)

In [ ]:
concat([two, one], axis=1)

## Axis = 0 

### Concatenate along rows

In [ ]:
two.columns=one.columns

In [ ]:
two

In [ ]:
concat([one, two], axis=0)

In [ ]:
DF = concat([one, two], axis=0)
DF.index = range(len(DF))
DF

# Merge (When DataFrames have different shapes)

## Data Tables

In [ ]:
# converting 0D dicts to 2D Dataframes
registrations = DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bobo','Claire','David']})
logins = DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bobo']})

In [ ]:
registrations

In [ ]:
logins

# pd.merge()

Merge pandas DataFrames based on key columns, similar to a SQL join. Results based on the **how** parameter.

In [ ]:
from pandas import merge
help(merge)

-----

# Inner,Left, Right, and Outer Joins

## Inner Join

**Match up where the key is present in BOTH tables. There should be no NaNs due to the join, since by definition to be part of the Inner Join they need info in both tables.**
**Only Andrew and Bobo both registered and logged in.**

In [ ]:
# Notice pd.merge doesn't take in a list like concat
merge(registrations,logins,how='inner',on='name')

In [ ]:
# Pandas smart enough to figure out key column (on parameter) if only one column name matches up
merge(registrations,logins,how='inner')

In [ ]:
# Pandas reports an error if "on" key column isn't in both dataframes
# pd.merge(registrations,logins,how='inner',on='reg_id')

## Left Join

**Match up AND include all rows from Left Table.**
**Show everyone who registered on Left Table, if they don't have login info, then fill with NaN.**

In [ ]:
merge(registrations,logins,how='left')

## Right Join
**Match up AND include all rows from Right Table.**
**Show everyone who logged in on the Right Table, if they don't have registration info, then fill with NaN.**

In [ ]:
merge(registrations,logins,how='right')

## Outer Join

**Match up on all info found in either Left or Right Table.**
**Show everyone that's in the Log in table and the registrations table. Fill any missing info with NaN**

In [ ]:
merge(registrations,logins,how='outer')

## Join on Index or Column

**Use combinations of left_on,right_on,left_index,right_index to merge a column or index on each other**

In [ ]:
registrations

In [ ]:
logins

In [ ]:
registrations = registrations.set_index("name")

In [ ]:
registrations

In [ ]:
merge(registrations,logins,left_index=True,right_on='name',how='inner')

In [ ]:
merge(logins,registrations,right_index=True,left_on='name')

### Dealing with differing key column names in joined tables

In [ ]:
registrations = registrations.reset_index()

In [ ]:
registrations

In [ ]:
logins

In [ ]:
registrations.columns = ['reg_name','reg_id']

In [ ]:
registrations

In [ ]:
# ERROR
# pd.merge(registrations,logins)

In [ ]:
merge(registrations,logins,left_on='reg_name',right_on='name',how='inner')

In [ ]:
merge(registrations,logins,left_on='reg_name',right_on='name',how='inner').drop('reg_name',axis=1)

### Pandas automatically tags duplicate columns

In [ ]:
registrations.columns = ['name','id'] # renaming columns
logins.columns = ['id','name'] # renaming columns

In [ ]:
registrations

In [ ]:
logins

In [ ]:
# _x is for left
# _y is for right
merge(registrations,logins,on='name')

In [ ]:
merge(registrations,logins,on='name',suffixes=('_reg','_log'))

# Text Methods

A normal Python string has a variety of method calls available:

In [ ]:
mystring = 'hello'

In [ ]:
mystring.capitalize()

In [ ]:
mystring.isdigit()

In [ ]:
email = 'linkman343@gmail.com'
email.isdigit()

In [ ]:
email=email.split('@')
print(email)
print(type(email))

In [ ]:
help(str)

# Pandas and Text

Pandas can do a lot more than what we show here. Full online documentation on things like advanced string indexing and regular expressions with pandas can be found here: https://pandas.pydata.org/docs/user_guide/text.html

## Text Methods on Pandas String Column

In [ ]:
names = series(['andrew','bobo','claire','david','4']) # converting 1D list into 1D series
print(ndim(names))

In [ ]:
names

In [ ]:
names.str.capitalize() # capitalize letter string elements only from the series

In [ ]:
names.str.isdigit() # is there any digit type string element in the series

In [ ]:
names[names.str.isdigit().isin([True])]

In [ ]:
names[names.str.isdigit().isin([False])]

In [ ]:
names[names.str.isdigit().isin([True, False])]

In [ ]:
names.str.upper() # make all strings upper case

## Splitting , Grabbing, and Expanding

In [ ]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS'] # 1D list of strings

In [ ]:
len(tech_finance)

In [ ]:
tickers = series(tech_finance) # convert 1D list into 1D series

In [ ]:
tickers

In [ ]:
tickers.str.split(',')

In [ ]:
tickers.str.split(',').iloc[[0]]

In [ ]:
tickers.str.split(',').iloc[0][2]

In [ ]:
tech = 'GOOG,AMZN,TVS'
print(tech.split(','))
tech.split(',')[0]

In [ ]:
tickers.str.split(',').str[1]

In [ ]:
tickers.str.split(',',expand=True)

In [ ]:
tickers.str.split(',',expand=True).iloc[ [0,1] , 2 ]

In [ ]:
tickers.str.split(',',expand=True).loc[ [0,1] , 2 ]

## Cleaning or Editing Strings

In [ ]:
messy_names = series(["andrew  ","bo;bo","  claire  "])

In [ ]:
# Notice the "mis-alignment" on the right hand side due to spacing in "andrew  " and "  claire  "
messy_names

In [ ]:
messy_names.str.replace(";","")

In [ ]:
messy_names.str.strip()

In [ ]:
messy_names.str.replace(";","").str.strip()

In [ ]:
messy_names.str.replace(";","").str.strip().str.capitalize()

## Alternative with Custom apply() call

In [ ]:
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name

In [ ]:
messy_names

In [ ]:
messy_names.apply(cleanup)

## Which one is more efficient?

In [ ]:
import timeit 
  
# code snippet to be executed only once 
setup = '''
import pandas as pd
import numpy as np
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name
'''
  
# code snippet whose execution time is to be measured 
stmt_pandas_str = ''' 
messy_names.str.replace(";","").str.strip().str.capitalize()
'''

stmt_pandas_apply = '''
messy_names.apply(cleanup)
'''

stmt_pandas_vectorize='''
np.vectorize(cleanup)(messy_names)
'''

In [ ]:
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_str, 
                    number = 10000)

In [ ]:
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_apply, 
                    number = 10000)

In [ ]:
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_vectorize, 
                    number = 10000)

Wow! While .str() methods can be extremely convienent, when it comes to performance, don't forget about np.vectorize()! Review the "Useful Methods" lecture for a deeper discussion on np.vectorize()

# Time Methods

## Python Datetime Review

Basic Python outside of Pandas contains a datetime library:

In [ ]:
from datetime import datetime

In [ ]:
# To illustrate the order of arguments
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [ ]:
# January 2nd, 2017
my_date = datetime(my_year,my_month,my_day)

In [ ]:
print(my_date)

In [ ]:
# January 2nd, 2017 at 13:30:15
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [ ]:
print(my_date_time)

You can grab any part of the datetime object you want

In [ ]:
my_date.day

In [ ]:
my_date_time.hour

# Pandas

# Converting to datetime

Often when data sets are stored, the time component may be a string. Pandas easily converts strings to datetime objects.

In [ ]:
myser = series(['Nov 3, 2000', '2000-01-01', None]) # converting 1D list to 1D series

In [ ]:
myser

In [ ]:
myser[0]

### pd.to_datetime()

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#converting-to-timestamps

In [ ]:
from pandas import to_datetime
to_datetime(myser)

In [ ]:
to_datetime(myser)[[0]]

In [ ]:
obvi_euro_date = '31-12-2000'

In [ ]:
to_datetime(obvi_euro_date)

In [ ]:
# 10th of Dec OR 12th of October?
# We may need to tell pandas
euro_date = '10-12-2000'

In [ ]:
to_datetime(euro_date)

In [ ]:
to_datetime(euro_date,dayfirst=True)

## Custom Time String Formatting

Sometimes dates can have a non standard format, luckily you can always specify to pandas the format. You should also note this could speed up the conversion, so it may be worth doing even if pandas can parse on its own.

A full table of codes can be found here: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [ ]:
style_date = '12--Dec--2000'

In [ ]:
to_datetime(style_date, format='%d--%b--%Y')

In [ ]:
strange_date = '12th of Dec 2000'

In [ ]:
to_datetime(strange_date)

## Data

Retail Sales: Beer, Wine, and Liquor Stores

Units:  Millions of Dollars, Not Seasonally Adjusted

Frequency:  Monthly


U.S. Census Bureau, Retail Sales: Beer, Wine, and Liquor Stores [MRTSSM4453USN], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/MRTSSM4453USN, July 2, 2020.

In [ ]:
sales = read_csv('RetailSales_BeerWineLiquor.csv')

In [ ]:
sales

In [ ]:
sales.iloc[0]['DATE']

In [ ]:
type(sales.iloc[0]['DATE'])

In [ ]:
sales['DATE'] = to_datetime(sales['DATE'])

In [ ]:
sales

In [ ]:
sales.iloc[0]['DATE']

In [ ]:
type(sales.iloc[0]['DATE'])

## Attempt to Parse Dates Automatically

**parse_dates** - bool or list of int or names or list of lists or dict, default False
The behavior is as follows:

    boolean. If True -> try parsing the index.

    list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.

    list of lists. e.g. If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.

    dict, e.g. {foo : [1, 3]} -> parse columns 1, 3 as date and call result foo

    If a column or index cannot be represented as an array of datetimes, say because of an unparseable value or a mixture of timezones, the column or index will be returned unaltered as an object data type. For non-standard datetime parsing, use pd.to_datetime after pd.read_csv. To parse an index or column with a mixture of timezones, specify date_parser to be a partially-applied pandas.to_datetime() with utc=True. See Parsing a CSV with mixed timezones for more.

In [ ]:
# Parse Column at Index 0 as Datetime
sales = read_csv('RetailSales_BeerWineLiquor.csv',parse_dates=[0])

In [ ]:
sales

In [ ]:
type(sales.iloc[0]['DATE'])

## Resample

A common operation with time series data is resampling based on the time series index. Let's see how to use the resample() method. [[reference](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html)]

In [ ]:
# Our index
sales.index

In [ ]:
# Reset DATE to index

In [ ]:
sales = sales.set_index("DATE")

In [ ]:
sales

When calling `.resample()` you first need to pass in a **rule** parameter, then you need to call some sort of aggregation function.

The **rule** parameter describes the frequency with which to apply the aggregation function (daily, monthly, yearly, etc.)<br>
It is passed in using an "offset alias" - refer to the table below. [[reference](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases)]

The aggregation function is needed because, due to resampling, we need some sort of mathematical rule to join the rows (mean, sum, count, etc.)

<table style="display: inline-block">
    <caption style="text-align: center"><strong>TIME SERIES OFFSET ALIASES</strong></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>B</td><td>business day frequency</td></tr>
<tr><td>C</td><td>custom business day frequency (experimental)</td></tr>
<tr><td>D</td><td>calendar day frequency</td></tr>
<tr><td>W</td><td>weekly frequency</td></tr>
<tr><td>M</td><td>month end frequency</td></tr>
<tr><td>SM</td><td>semi-month end frequency (15th and end of month)</td></tr>
<tr><td>BM</td><td>business month end frequency</td></tr>
<tr><td>CBM</td><td>custom business month end frequency</td></tr>
<tr><td>MS</td><td>month start frequency</td></tr>
<tr><td>SMS</td><td>semi-month start frequency (1st and 15th)</td></tr>
<tr><td>BMS</td><td>business month start frequency</td></tr>
<tr><td>CBMS</td><td>custom business month start frequency</td></tr>
<tr><td>Q</td><td>quarter end frequency</td></tr>
<tr><td></td><td><font color=white>intentionally left blank</font></td></tr></table>

<table style="display: inline-block; margin-left: 40px">
<caption style="text-align: center"></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>BQ</td><td>business quarter endfrequency</td></tr>
<tr><td>QS</td><td>quarter start frequency</td></tr>
<tr><td>BQS</td><td>business quarter start frequency</td></tr>
<tr><td>A</td><td>year end frequency</td></tr>
<tr><td>BA</td><td>business year end frequency</td></tr>
<tr><td>AS</td><td>year start frequency</td></tr>
<tr><td>BAS</td><td>business year start frequency</td></tr>
<tr><td>BH</td><td>business hour frequency</td></tr>
<tr><td>H</td><td>hourly frequency</td></tr>
<tr><td>T, min</td><td>minutely frequency</td></tr>
<tr><td>S</td><td>secondly frequency</td></tr>
<tr><td>L, ms</td><td>milliseconds</td></tr>
<tr><td>U, us</td><td>microseconds</td></tr>
<tr><td>N</td><td>nanoseconds</td></tr></table>

In [ ]:
# Yearly Means
sales.resample(rule='A').mean()

Resampling rule 'A' takes all of the data points in a given year, applies the aggregation function (in this case we calculate the mean), and reports the result as the last day of that year. Note 2020 in this data set was not complete.

# .dt Method Calls

Once a column or index is ina  datetime format, you can call a variety of methods off of the .dt library inside pandas:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html

In [ ]:
sales = sales.reset_index()

In [ ]:
sales

In [ ]:
help(sales['DATE'].dt)

In [ ]:
sales['DATE'].dt.month

In [ ]:
sales['DATE'].dt.is_leap_year

# Inputs and Outputs

**NOTE: Typically we will just be either reading csv files directly or using pandas-datareader to pull data from the web. Consider this lecture just a quick overview of what is possible with pandas (we won't be working with SQL or Excel files in this course)**

## Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

## Check out the references here! 

**This is the best online resource for how to read/write to a variety of data sources!**

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

----
----

# Reading in a  CSV
Comma Separated Values files are text files that use commas as field delimeters.<br>
Unless you're running the virtual environment included with the course, you may need to install <tt>xlrd</tt> and <tt>openpyxl</tt>.<br>
In your terminal/command prompt run:

    conda install xlrd
    conda install openpyxl

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

## Understanding File Paths

You have two options when reading a file with pandas:

1. If your .py file or .ipynb notebook is located in the **exact** same folder location as the .csv file you want to read, simply pass in the file name as a string, for example:
    
        df = pd.read_csv('some_file.csv')
        
2. Pass in the entire file path if you are located in a different directory. The file path must be 100% correct in order for this to work. For example:

        df = pd.read_csv("C:\\Users\\myself\\files\\some_file.csv")

#### Print your current directory file path with pwd

In [ ]:
pwd

#### List the files in your current directory with ls

In [ ]:
ls

-----
#### NOTE! Common confusion point! Take note that all read input methods are called directly from pandas with pd.read_  , all output methods are called directly off the dataframe with df.to_

-------

In [ ]:
import os

In [ ]:
os.getcwd()

### CSV Input

In [ ]:
df = read_csv('example.csv')
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.keys()

In [ ]:
read_csv('example.csv', header=None)

In [ ]:
read_csv('example.csv', index_col=0)

In [ ]:
read_csv('example.csv').set_index('a').index

In [ ]:
read_csv('example.csv').set_index('a').keys()

In [ ]:
read_csv('example.csv').set_index('a').columns

### CSV Output

Set index=False if you do not want to save the index , otherwise it will add a new column to the .csv file that includes your index and call it "Unnamed: 0" if your index did not have a name. If you do want to save your index, simply set it to True (the default value).

In [ ]:
df.to_csv('new_file.csv',index=False)

## HTML

Pandas can read table tabs off of HTML. This only works if your firewall isn't blocking pandas from accessing the internet!

Unless you're running the virtual environment included with the course, you may need to install <tt>lxml</tt>, <tt>htmllib5</tt>, and <tt>BeautifulSoup4</tt>.<br>
In your terminal/command prompt run:

    conda install lxml
    
    or
    
    pip install lxml
    
Then restart Jupyter Notebook (you may need to restart your computer).
(or use pip install if you aren't using the Anaconda Distribution)

## read_html

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects. NOTE: This only works with well defined <table> objects in the html on the page, this can not magically read in tables that are images on a page.

In [ ]:
from pandas import read_html
tables = read_html('https://en.wikipedia.org/wiki/World_population')

In [ ]:
len(tables) #tables

### Not Useful Tables
Pandas found 26 tables on that page. Some are not useful:

In [ ]:
tables[0]

In [ ]:
from pandas import pivot, pivot_table

# Pivot Tables

Pivoting data can sometimes help clarify relationships and connections.

Full documentation on a variety of related pivot methods: https://pandas.pydata.org/docs/user_guide/reshaping.html

## Data

In [ ]:
sales = read_csv('Sales_Funnel_CRM.csv')
sales

# The pivot() method

The pivot method reshapes data based on column values and reassignment of the index. Keep in mind, it doesn't always make sense to pivot data. In our machine learning lessons, we will see that our data doesn't need to be pivoted. Pivot methods are mainly for data analysis,visualization, and exploration.

----

Here is an image showing the idea behind a pivot() call:

<img src='reshaping_pivot.png'>

In [ ]:
help(pivot)

----
#### Note: Common Point of Confusion: Students often just randomly pass in index,column, and value choices in an attempt to see the changes. This often just leads to formatting errors. You should first go through this checklist BEFORE running a pivot():

* What question are you trying to answer?
* What would a dataframe that answers the question look like? Does it need a pivot()
* What you want the resulting pivot to look like? Do you need all the original columns?

-----

--------
** What type of question does a pivot help answer?**

**Imagine we wanted to know, how many licenses of each product type did Google purchase? Currently the way the data is formatted is hard to read. Let's pivot it so this is clearer, we will take a subset of the data for the question at hand.**

In [ ]:
# Let's take a subset, otherwise we'll get an error due to duplicate rows and data
licenses = sales[['Company','Product','Licenses']]
licenses

In [ ]:
pivot(data=licenses,index='Company',columns='Product',values='Licenses')

## The pivot_table() method

Similar to the pivot() method, the pivot_table() can add aggregation functions to a pivot call.

In [ ]:
# Notice Account Number sum() doesn't make sense to keep/use
pivot_table(data=sales, index="Company", aggfunc='sum')

In [ ]:
# Either grab the columns
pivot_table(data=sales,index="Company",aggfunc='sum')[['Licenses','Sale Price']]

In [ ]:
# Or state them as wanted values
pivot_table(data=sales, index="Company", aggfunc='sum', values=['Licenses','Sale Price'])

In [ ]:
sales.groupby('Company').sum()[['Licenses','Sale Price']]

In [ ]:
pivot_table(data=sales,index=["Account Manager","Contact"],values=['Sale Price'],aggfunc='sum')

Columns are optional - they provide an additional way to segment the actual values you care about. The aggregation functions are applied to the values you list.

In [ ]:
pivot_table(data=sales,index=["Account Manager","Contact"],values=["Sale Price"],columns=["Product"],aggfunc=[sum])

In [ ]:
pivot_table(data=sales,index=["Account Manager","Contact"],values=["Sale Price"],columns=["Product"],aggfunc=[sum],fill_value=0)

In [ ]:
# Can add multiple agg functions
from statistics import mean
pivot_table(data=sales,index=["Account Manager","Contact"],values=["Sale Price"],columns=["Product"],
               aggfunc=[sum, mean], fill_value=0)

In [ ]:
# Can add on multiple columns
pivot_table(data=sales,index=["Account Manager","Contact","Product"],values=["Sale Price","Licenses"],
               aggfunc=[sum],fill_value=0)

In [ ]:
# get Final "ALL" with margins = True
# Can add on multiple columns
pivot_table(data=sales,index=["Account Manager","Contact","Product"],values=["Sale Price","Licenses"],
               aggfunc=[sum],fill_value=0,margins=True)

In [ ]:
pivot_table(data=sales,index=["Account Manager","Status"],values=["Sale Price"],
               aggfunc=[sum],fill_value=0,margins=True)